@import "variables.scss";

:host {
  margin-bottom: 35px;
  width: 100%;
}
.label {
  display: block;
  width: 100%;
  position: relative;
}

textarea {
  font-family: $mainFont;
  font-size: 16px;
  padding: 5px 15px;
  border: 1px solid $inputBorderColor;
  border-radius: 4px;
  resize: none;
  & + .input__placeholder {
    transform: none;
    top: 15px;
  }
  &:hover {
    outline-color: $inputButtonOutlineColor;
  }
  &:focus {
    & + .input__placeholder {
      transform: translate(-15px, -40px);
      cursor: auto;
    }
    outline-color: $inputBorderColor;
  }
  &.input--filled + .input__placeholder {
    transform: translate(-15px, -40px);
    cursor: auto;
  }
}
.sidebar__textarea {
  width: 100%;
  min-height: 60px;
}
.input__placeholder {
  position: absolute;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  color: $inputPlaceholderColor;
  z-index: 1;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: all 0.3s;
  text-transform: lowercase;
  cursor: text;
  pointer-events: none;
  white-space: nowrap;
}
@media (max-width: $screenMobileXS) {
  .input__placeholder {
    font-size: 14px;
  }
}
