<li [ngClass]="cardClasses"(click)="clickHandler()">
  <div class="card__image-wrapper">
    <img [src]="mainImg" width="330" height="270" class="card__image">
  </div>
  <div class="card__inner">
    <div class="card__info">
      <p class="card__title">{{ props.title }}</p>
      <p class="card__date">{{dates}}</p>
    </div>
    <div class="card__other">
      <div class="card__stars stars">
        <svg-icon class="stars__svg" *ngFor="let number of numbers" [src]="star.icon"
          [svgStyle]="{ 'width.px': 15, 'height.px': 15, 'fill': number > props.rating ? star.color : star.filledColor }">
        </svg-icon>
      </div>
      <div class="card__edit">
        <app-link [props]="linkProps" (clickEventEmitter)="clickRestoreHandler()"></app-link> 
      </div>
    </div>
    <p class="card__description">{{ props.description }}</p>
  </div>
</li>