.auth {
    @media (max-width: $screenMobileXS) {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.auth__form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
    width: 335px;
    position: relative;
    @media (max-width: $screenMobileXS) {
        width: 100%;
        max-width: 335px;
        margin-right: auto;
        margin-left: auto;
    }
}
.auth__wrapper {
    display: none;
    position: relative;
    @media (max-width: $screenMobileXS) {
        width: 100%;
    }
}
.auth__wrapper--active {
    display: block;
}
.auth__label {
	width: 100%;
}
.auth__labels {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.auth__input {
    border-color: $authInputBorderColor;
    &:focus {
        outline-color: $authInputBorderColor;
    }
}
.auth__input--password {
    padding-right: 45px;
}
.auth__password-switcher {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	width: 40px;
	height: 40px;
    background-size: 25px 25px;
    background-position: center center;
	background-repeat: no-repeat;
    background-image: url("../img/eye.svg");
    border: none;
    background-color: transparent;
    opacity: 0.6;
    cursor: pointer;
    &:focus {
        outline-color: rgba(164, 3, 111,0.3);
    }
    &::after {
        position: absolute;
        content: "";
        left: 50%;
        top: 50%;
        width: 2px;
        height: 70%;
        background-color: #000;
        transform: translate(-50%,-50%) rotate(45deg);
        transition: all .3s;
    }
}
.auth__password-switcher--active {
    &::after {
        height: 0%;
    }
}
.auth__button {
    margin-top: 15px;
    background-color: $authButtonBgColor;
    width: 100%;
    transition: all .3s;
    &:hover {
        background-color: $authButtonBgHoverColor;
        transform: translateY(2px);
    }
}
.auth__button--fade {
    background-color: $authButtonBgFadeColor;
    &:hover {
        background-color: $authButtonBgFadeHoverColor;;
    }
}
.auth__forgot-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 25px;
}

.auth__divider {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 20px;
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.8);
    } 
}
.auth__divider-text {
    display: inline-block;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 10px;
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.8);
    background-color: #fff;
    text-transform: lowercase;
    font-size: 30px;
    line-height: 1;
    text-align: center;
    z-index: 1;
}
.auth__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.auth__social {
    font-size: 0;
    width: 35px;
    height: 35px;
    margin-right: 15px;
    margin-left: 15px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all .3s;
    &:hover {
        transform: scale(1.1);
    }
}
.auth__social--vk {
    background-image: url('../img/vk.svg');
}
.auth__social--fb {
    background-image: url('../img/facebook.svg');
}
.auth__social--g {
    background-image: url('../img/google-plus.svg');
}
.auth__title {
    margin-top: 0;
    margin-bottom: 55px;
    font-size: 1.875rem;
    text-transform: uppercase;
    font-weight: 600;
}
.auth__title--smaller {
    margin-bottom: 50px;
    font-size: 20px;
    @media (max-width: $screenMobile) {
        margin-bottom: 40px;
    }
}
.auth__back-arrow {
    position: absolute;
    top: 0;
    right: 120%;
    @media (max-width: $screenTabletBig) {
        right: 100%;
    }
    @media (max-width: $screenMobile) {
        height: 30px;
        transform: translateY(-15%);
    }
    @media (max-width: $screenMobileXS) {
        right: auto;
        top: auto;
        bottom: 100%;
        left: 0;
    }
    .back-arrow__text {
        @media (max-width: $screenMobile) {
            display: none;
        }
    }
}
.auth__form--marginTop {
    margin-top: 25px;
}