.input__placeholder {
	position: absolute;
	font-size: 16px;
	font-weight: normal;
	position: absolute;
	color: $inputPlaceholderColor;
	z-index: 1;
	top: 50%;
	left: 15px;
	transform: translateY(-50%);
	transition: all 0.3s;
	text-transform: lowercase;
    cursor: text;
    pointer-events: none;
    white-space: nowrap;
    @media (max-width: $screenMobileXS) {
        font-size: 14px;
    }
}
.input {
	width: 100%;
	height: 41px;
	color: $inputTextColor;
	border-radius: 4px;
	padding: 0 15px;
	border-width: 1px;
	font-size: 16px;
	line-height: 1;
	font-family: $mainFont;
	background-color: $inputBgColor;
	transition: all 0.3s;
	border-color: $inputBorderColor;
	&:focus {
		& + .input__placeholder {
			transform: translate(-15px, -45px);
			cursor: auto;
		}
		outline-color: $inputBorderColor;
	}
}
.input--filled {
	& + .input__placeholder {
		transform: translate(-15px, -45px);
		cursor: auto;
	}
}
.label {
    width: 100%;
	position: relative;
	margin-bottom: 35px;
	&:last-child {
		margin-bottom: 0;
	}
}
.label--nomb {
    margin-bottom: 0;
}
.button {
	height: 41px;
	padding: 0 15px;
	border: none;
	border-radius: 4px;
    font-family: $mainFont;
    background-color: $buttonBgColor;
	font-size: 1.25rem;
	line-height: 41px;
	font-weight: 400;
	text-align: center;
	color: #fff;
	text-transform: lowercase;
    cursor: pointer;
    transition: all .3s;
    &:hover {
        background-color: $buttonBgHoverColor;
    }
    @media (max-width: $screenMobile) {
        font-size: 16px;
    }
}
.select {
    font-family: $mainFont;
	height: 41px;
	position: relative;
	padding-left: 15px;
	padding-right: 40px;
	border: 1px solid $inputBorderColor;
	background-color: $inputBgColor;
	border-radius: 4px;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
    text-overflow: "";
    font-size: 15px;
	&:focus {
        outline-color: $inputButtonOutlineColor;
	}
}
 option {
    font-family: $mainFont;
    padding-left: 15px;
    padding-right: 15px;
    background-color: $inputBgColor;
    transition: all .3s;
    &:hover {
        background-color: $inputBorderColor;
        color: #fff;
    }
}
.select__wrapper {
	position: relative;
	&::after {
		width: 18px;
		height: 18px;
		position: absolute;
		content: "";
		right: 15px;
		top: 50%;
		transform: translateY(-50%);
        background-image: url("../img/dropdownArrow.svg");
        pointer-events: none;
	}
}
.link {
    font-size: 1rem;
    line-height: 1.25;
    font-weight: 400;
    color: #000;
    transition: all .3s;
    opacity: 0.8;
    text-decoration: none;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100%;
        height: 1px;
        background-color: #000;
        transform: translate(-50%, 0);
        transition: all .3s;
        opacity: 0;
    }
    &:focus {
        outline: none;
        &::after {
            opacity: 1;
        }
    }
    &:hover {
        opacity: 1;
        &::after {
            opacity: 1;
        }
    }
}
.textarea {
    font-family: $mainFont;
    font-size: 16px;
    padding: 5px 15px;
    border: 1px solid $inputBorderColor;
    border-radius: 4px;
    resize: none;
    & + .input__placeholder {
        transform: none;
        top: 15px;
    }
    &:hover {
        outline-color: $inputButtonOutlineColor;
    }
    &:focus {
		& + .input__placeholder {
			transform: translate(-15px, -40px);
			cursor: auto;
		}
		outline-color: $inputBorderColor;
    }
    &.input--filled + .input__placeholder {
        transform: translate(-15px, -40px);
        cursor: auto;
    }
}