.destinations {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    background-color: $inputBgColor;
    border: 1px solid $inputBorderColor;
    border-bottom: none;
    border-radius: 3px;
    @media (max-width: $screenMobile) {
        margin-top: 35px;
    }
}
.destinations__place-info {
    display: flex;
    min-height: 70px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: 1px solid $inputBorderColor;
    border-radius: 3px;
    @media (max-width: $screenMobile) {
        min-height: 50px;
        padding-right: 10px;
        padding-left: 10px;
    }
    @media (max-width: $screenMobileS) {
        flex-wrap: wrap;
    }
}
.destinations__name {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    @media (max-width: $screenMobileS) {
        width: 50%;
    }
}
.destinations__date {
    min-width: 215px;
    margin-top: 0;
    margin-bottom: 0;   
    font-size: 20px;
    font-weight: 200;
    @media (max-width: $screenMobile) {
        font-size: 16px;
    }
    @media (max-width: $screenMobileS) {
        width: 50%;
        min-width: 0;
        text-align: right;
    }
}
.destinations__place--country {
    .destinations__name {
        font-size: 1.875rem;
        font-weight: 500;
    }
}
.destinations__controls {
    min-width: 160px;
    margin-left: 20px;
    @media (max-width: $screenMobile) {
        margin-left: 10px;
    }
    @media (max-width: $screenMobileS) {
        min-width: 130px;
        width: 100%;
        text-align: right;
    }
}
.destinations__button {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border: none;
    background-color: transparent;
    background-size: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all .3s;
    @media (max-width: $screenMobileS) {
        margin-left: 0;
    }

    &:focus {
        outline-color: $inputButtonOutlineColor;
    }
}
.destinations__button--calendar {
    background-image: url('../img/calendar.svg');
}
.destinations__button--delete {
    background-image: url('../img/closeIcon.svg');
}
.destinations__button--dropdown {
    background-image: url('../img/down-chevron.svg');
    transform: rotate(180deg);
    transition: all .3s;
}
.destinations__button--dropdown--active {
    transform: rotate(0deg);
}
.destinations__cities,
.destinations__places {
    padding-left: 0;
    list-style: none;
}
.destinations__place--city {
    .destinations__name {
        font-size: 1.5625rem;
        font-weight: 400;
    }
    .destinations__place-info {
        padding-left: 40px;
        @media (max-width: $screenMobile) {
            padding-left: 20px;
        }
    }
}
.destinations__place--place {
    .destinations__place-info {
        padding-left: 60px;
        @media (max-width: $screenMobile) {
            padding-left: 30px;
        }
    }
    .destinations__name {
        font-size: 1.35rem;
    }
}
.destinations__place-description {
    display: flex;
    border-bottom: 1px solid $inputBorderColor;
    border-radius: 3px;
}
.destinations__place-title {
    min-width: 120px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px 10px;  
    font-weight: 600;
    font-size: 18px;
    @media (max-width: $screenMobile) {
        display: none;
    }
}
.destinations__place-text {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 15px;
    font-size: 1.25rem;
    line-height: 1.2;
    @media (max-width: $screenMobile) {
        padding-right: 15px;
    }
}
.destinations--hide {
    display: none;
}