.details__header {
    display: flex;
    flex-wrap: wrap;
    padding-top: 45px;
    @media (max-width: $screenTabletBig) {
        padding-top: 25px;
    }
}
.details__back-arrow {
    width: 100%;
}
.details__content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}
.details__title {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5625rem;
    font-weight: 500;
}
.details__top {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: $screenTabletBig) {
        margin-top: 45px;
    }
    @media (max-width: $screenMobile) {
        margin-top: 35px;
    }
    @media (max-width: $screenMobileS) {
        flex-direction: column;
    }
}
.details__controls {
    display: flex;
    flex-direction: column;
    @media (max-width: $screenMobileS) {
        width: 100%;
        margin-top: 15px;
    }
}
.details__image {
    width: 35%;
    max-width: 455px;
    max-height: 300px;
    overflow: hidden;
    border-radius: 10px;
    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
    }
    @media (max-width: $screenMobile) {
        display: none;
    }
}
.details__button {
    width: 210px;
    margin-bottom: 12px;
    @media (max-width: $screenMobileS) {
        width: 100%;
    }
}
.details__stars {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
    svg {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
}
.details__form {
    display: flex;
}
.details__info {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding-left: 25px;
    @media (max-width: $screenMobile) {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}
.details__input {
    width: 100%;
    max-width: 100%;
    text-overflow: ellipsis;
    padding-right: 35px;
    font-family: $mainFont;
    border: none;
    background-color: transparent;
    &:focus {
        outline: none;
    }
}
.details__subtitle {
    font-weight: 600;
    font-size: 35px;
}
.details__search-form {
    display: flex;
    @media (max-width: $screenMobileS) {
        width: 100%;
    }
    .label {
        margin-bottom: 0;
    }
}
.details__edit {
    pointer-events: none;
    position: absolute;
    width: 25px;
    height: 25px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/pen.svg');
    border: none;
    background-color: transparent;
}
.details__info-label {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    @media (max-width: $screenTabletBig) {
        margin-bottom: 20px;
    }
}
.details__description-wrapper {
    display: flex;
    position: relative;
    width: 100%;
}
.details__date {
    font-size: 2.1875rem;
    @media (max-width: $screenMobileS) {
        font-size: 1.5rem;
    }
}
.details__description {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
}
.details__middle {
    margin-top: 80px;
    width: 100%;
    @media (max-width: $screenTabletBig) {
        margin-top: 40px;
    }
    @media (max-width: $screenMobile) {
        margin-top: 20px;
    }
}
.details__form {
    width: 100%;
}
.details__info-label--lessMb {
    margin-bottom: 20px;
}
.details__textarea {
    width: 100%;
    min-height: 110px;
    margin-top: 30px;
    padding: 10px 15px;
    @media (max-width: $screenMobile) {
        margin-top: 25px;
    }
}
.details__bottom-title {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    font-size: 2.1875rem;
    font-weight: 500;
    &::after {
        content: "";
        position: absolute;
        bottom: -15px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #000;
    }
}
.deatils__bottom {
    width: 100%;
    margin-top: 65px;
    margin-bottom: 120px;
    @media (max-width: $screenMobile) {
        margin-top: 30px;
        margin-bottom: 50px;
    }
}