.list__content {
    margin-top: 50px;
    margin-bottom: 50px;
    @media (max-width: $screenTabletBig) {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
.list__header {
    display: flex;
    padding-top: 45px;
    align-items: center;
    @media (max-width: $screenTabletBig) {
        align-items: flex-start;
        justify-content: flex-end;
        padding-top: 35px;
        flex-wrap: wrap;
    }
}
.list__search-form {
    max-width: 340px;
    @media (max-width: $screenTabletBig) {
        margin-right: auto;
        margin-bottom: 20px;
    }
    @media (max-width: $screenMobileS) {
        width: 100%;
        margin-bottom: 15px;
    }
}
.list__sort-wrapper {
    display: flex;
    margin-left: auto;
    align-items: center;
    @media (max-width: $screenTabletBig) {
        margin-left: 10px;
        margin-bottom: 20px;
    }
    @media (max-width: $screenMobile) {
        max-width: 100%;
    }
    @media (max-width: $screenMobileS) {
        width: 100%;
        margin-bottom: 15px;
        margin-left: 0;
    }
}
.list__sort-arrow {
    width: 35px;
    height: 35px;
    margin-left: 10px;
    padding: 0;
    background-image: url('../img/backArrow.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    transition: all .3s;
    transform: rotate(-90deg);
    cursor: pointer;
    &:focus {
        outline-color: $inputButtonOutlineColor;
    }
    @media (max-width: $screenMobile) {
        min-width: 35px;
    }
}
.list__sort .select {
    @media (max-width: $screenMobile) {
        width: 100%;
    }
}
.list__sort-arrow--up {
    transform: rotate(-90deg) scale(-1);
}
.list__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.list__type-title {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 1.4375rem;
    font-weight: 600;
}
.list__type {
    margin-bottom: 55px;
}