.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.profile__image {
    width: 51px;
    height: 51px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/profile.svg');  
    background-position: center center; 
}
.profile__text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.25rem;
    @media (max-width: $screenMobile) {
        display: none;
    }
}