.icon-logout-hover, .icon-phone, .icon-search, .icon-search-focus, .icon-search-hover, .icon-up-dir, .icon-up-dir-active, .icon-up-dir-hover, .icon-user, .icon-user-hover, .icon-vk, .icon-basket, .icon-basket-click, .icon-basket-hover, .icon-bookmark, .icon-bookmark-click, .icon-bookmark-hover, .icon-down-dir, .icon-down-dir-active, .icon-down-dir-hover, .icon-facebook, .icon-features-1, .icon-features-2, .icon-features-3, .icon-features-4, .icon-features-5, .icon-instagramm, .icon-login, .icon-login-hover, .icon-logout{
	background: url(../img/sprites.png) no-repeat;
}

.icon-logout-hover{
	background-position: -133.0000228881836px -22.000011444091797px ;
	width: 21px;
	height: 17px;
}

.icon-phone{
	background-position: -45.000022888183594px -363.0000114440918px ;
	width: 19px;
	height: 19px;
}

.icon-search{
	background-position: -100.0000228881836px -369.0000114440918px ;
	width: 17px;
	height: 17px;
}

.icon-search-focus{
	background-position: -102.00000762939453px -347.0000114440918px ;
	width: 17px;
	height: 17px;
}

.icon-search-hover{
	background-position: -100.0000228881836px -323.0000114440918px ;
	width: 17px;
	height: 17px;
}

.icon-up-dir{
	background-position: -202.0000228881836px -181.0000114440918px ;
	width: 11px;
	height: 10px;
}

.icon-up-dir-active{
	background-position: -185.0000228881836px -180.0000114440918px ;
	width: 11px;
	height: 10px;
}

.icon-up-dir-hover{
	background-position: -166.0000228881836px -180.0000114440918px ;
	width: 11px;
	height: 10px;
}

.icon-user{
	background-position: -99.0000228881836px -300.0000114440918px ;
	width: 20px;
	height: 18px;
}

.icon-user-hover{
	background-position: -99.00000762939453px -276.0000114440918px ;
	width: 20px;
	height: 18px;
}

.icon-vk{
	background-position: -100.0000228881836px -253.0000114440918px ;
	width: 20px;
	height: 12px;
}

.icon-basket{
	background-position: -99.0000228881836px -229.0000114440918px ;
	width: 17px;
	height: 16px;
}

.icon-basket-click{
	background-position: -100.0000228881836px -214.0000114440918px ;
	width: 17px;
	height: 16px;
}

.icon-basket-hover{
	background-position: -101.00000762939453px -97.0000114440918px ;
	width: 17px;
	height: 16px;
}

.icon-bookmark{
	background-position: -98.0000228881836px -196.0000114440918px ;
	width: 14px;
	height: 16px;
}

.icon-bookmark-click{
	background-position: -100.00000762939453px -171.0000114440918px ;
	width: 14px;
	height: 16px;
}

.icon-bookmark-hover{
	background-position: -103.00000762939453px -148.0000114440918px ;
	width: 14px;
	height: 16px;
}

.icon-down-dir{
	background-position: -201.0000228881836px -156.0000114440918px ;
	width: 11px;
	height: 10px;
}

.icon-down-dir-active{
	background-position: -186.0000228881836px -156.0000114440918px ;
	width: 9px;
	height: 9px;
}

.icon-down-dir-hover{
	background-position: -166.0000228881836px -156.0000114440918px ;
	width: 11px;
	height: 10px;
}

.icon-facebook{
	background-position: -102.0000228881836px -121.0000114440918px ;
	width: 10px;
	height: 18px;
}

.icon-features-1{
	background-position: 0 -291.0000114440918px ;
	width: 44px;
	height: 65px;
}

.icon-features-2{
	background-position: 0 -222.0000114440918px ;
	width: 75px;
	height: 61px;
}

.icon-features-3{
	background-position: 0 -150.0000114440918px ;
	width: 78px;
	height: 62px;
}

.icon-features-4{
	background-position: 0 -69.00000381469727px ;
	width: 59px;
	height: 72px;
}

.icon-features-5{
	background-position: 0 0;
	width: 78px;
	height: 63px;
}

.icon-instagramm{
	background-position: -100.0000228881836px -72.0000114440918px ;
	width: 17px;
	height: 17px;
}

.icon-login{
	background-position: -100.0000228881836px -51.0000114440918px ;
	width: 20px;
	height: 17px;
}

.icon-login-hover{
	background-position: -100.0000228881836px -22.000011444091797px ;
	width: 20px;
	height: 17px;
}

.icon-logout{
	background-position: -100.0000228881836px 0;
	width: 21px;
	height: 17px;
}

.clearfix::after {
	content: "";
	clear: both;
	display: block;
}

body {
	min-width: 1122px;
	font-weight: 400; 
	font-size: 14px;
	line-height: 24px;
	font-family: 'Cuprum', "Arial", sans-serif;
	color: #000000;
	background-color: #ffffff;
}

.header-middle-container {
	line-height: 0;
}

.container {
	width: 940px;
	margin: 0 auto;
}

header {
	background-color: #f1f4f6;
}

.header-top {
	background-color: #30374a;
	font-size: 0;
	vertical-align: top;
	line-height: 0;
}

.logo {
	position: relative;
	display: inline-block;
	font-weight: 700; 
	font-size: 24px;
	line-height: 1.3;
	font-family: 'Cuprum', "Arial", sans-serif;
	color: #ffffff;
	background-color: #ee3643;
	padding-top: 6px;
	padding-bottom: 4px;
	text-decoration: none;
	width: 220px; 
	text-align: center;
	text-transform: uppercase;
}

.logo::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 6px;
	bottom: -6px;
	left: 0;
	background-color: #9c2b34;
}

.logo:hover::after {
	background-color: #84242b;
}

.logo:active::after {
	background-color: #7a2128;
}

.logo:hover {
	background-color: #ae2f39;
}

.logo:active {
	background-color: #a02c35;
}

.search {
	width: 265px;
	display: inline-block;
	margin-top: 0;
	vertical-align: top;
}

.search:hover,
.search:hover input,
.bookmarks a:hover,
.cart a:hover {
	background-color: #282e3c;
}

.search input {
	width: 100%;
	display: block;
	font-weight: 400; 
	font-size: 17px;
	line-height: 1.3;
	font-family: 'Cuprum', "Arial", sans-serif;
	color: #ffffff;
	background-color: #30374a;
	padding-left: 49px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: none;
	outline: none;
	background: url(../img/search.png) no-repeat;
	background-position: 11px -92px;
}

.search input:hover {
	background: url(../img/.icon-search-hover.png) no-repeat;
	background-position: 16px 12px;
}

.search input:focus {
	background: #ffffff url(../img/search.png) no-repeat 15px 12px;
	color: #000000;
}


.search input:focus::placeholder {
	color: #000000;
}

.search input::placeholder {
	color: #ffffff;
}

.header-top-right {
	display: inline-block;
	margin: 0;
	padding-left: 0;
	list-style: none;
	vertical-align: top;
}

.header-top-right li {
	display: inline-block;
	
}

.header-top-right a {
	display: inline-block;
	padding: 10px 20px;
	font-weight: 400; 
	font-size: 17px;
	line-height: 1.3;
	font-family: 'Cuprum', "Arial", sans-serif;
	color: #ffffff;
	background-color: #30374a;
	text-decoration: none;
}

.header-top-right .order a {
	background-color: #7aa448;
}

.bookmarks {
	max-width: 150px;
}

.bookmarks a,
.cart a {
	padding-left: 50px;
	position: relative;
}

.cart a {
	padding-right: 29px;
}



.bookmarks a::before {
	position: absolute;
	content: "";
	background: url(../img/sprites.png) no-repeat;
	background-position: -98.0000228881836px -196.0000114440918px ;
	width: 14px;
	height: 16px;
	left: 22px;
	top: 13px;
}

.bookmarks a:hover::before {
	position: absolute;
	content: "";
	background: url(../img/sprites.png) no-repeat;
	background-position: -103.00000762939453px -148.0000114440918px ;
	width: 14px;
	height: 16px;
	left: 22px;
	top: 13px;
}

.cart a::before {
	position: absolute;
	content: "";
	background: url(../img/sprites.png) no-repeat;
	background-position: -99.0000228881836px -230.0000114440918px ;
	width: 17px;
	height: 16px;
	left: 22px;
	top: 13px;
}

.cart a:hover::before {
	position: absolute;
	content: "";
	background: url(../img/sprites.png) no-repeat;
	background-position: -101.00000762939453px -98.0000114440918px ;
	width: 17px;
	height: 16px;
	left: 22px;
	top: 13px;
}

.bookmarks a:active,
.cart a:active {
	background-color: #1f232d;
}

.bookmarks a:active::before {
	position: absolute;
	content: "";
	background: url(../img/sprites.png) no-repeat;
	background-position: -98.0000228881836px -196.0000114440918px ;
	width: 14px;
	height: 16px;
	left: 22px;
	top: 13px;
}

.cart a:active::before {
	position: absolute;
	content: "";
	background: url(../img/sprites.png) no-repeat;
	background-position: -99.0000228881836px -230.0000114440918px ;
	width: 17px;
	height: 16px;
	left: 22px;
	top: 13px;
}

.cart {
	max-width: 150px;
}

.order {
	max-width: 150px;
}

.order a:hover {
	background-color: #81ba3f;
}

.order a:active {
	background-color: #63843d;
	color: #bbc8af;
}

.header-middle-container {
	margin-top: 46px;
	padding-bottom: 40px;
}

.header-middle {
	font-size: 0;
	line-height: 0;
}

.header-middle {
	vertical-align: top;
}

.header-middle-left,
.header-middle-center,
.header-middle-right {
	display: inline-block;
	vertical-align: inherit;
}

.header-middle-left {
	padding-left: 55px;
	padding-right: 35px;
	width: 200px;
}

.header-middle-left .header-desc {
	margin-top: 0;
}

.header-middle-center {
	padding-left: 35px;
	padding-right: 35px;
	text-align: center;
	width: 271px;
}

.header-middle-right {
	padding-left: 25px;
}

.header-middle-left p {
	font-weight: 500; 
	font-size: 16px;
	line-height: 23px;
	font-family: 'Cuprum', "Arial", sans-serif;
	color: #cd3944;
	background-color: #f1f4f6;
	font-style: italic;
}

.header-middle-center a {
	font-weight: 600; 
	font-size: 21px;
	line-height: 18px;
	font-family: 'Cuprum', "Arial", sans-serif;
	color: #c82d2e;
	background-color: #f1f4f6;
	text-decoration: none;
	padding-top: 10px;
	padding-right: 47px;
	padding-bottom: 10px;
	padding-left: 67px;
	border: 3px solid #ffffff;
	position: relative;
	display: inline-block;
}

.header-middle-center a::before {
	position: absolute;
	content: "";
	background: url(../img/sprites.png) no-repeat;
	background-position: -45.000022888183594px -363.0000114440918px ;
	width: 19px;
	height: 19px;
	left: 15px;
	top: 9px;
}

.header-middle-center p {
	font-weight: 400; 
	font-size: 14px;
	line-height: 24px;
	font-family: 'Cuprum', "Arial", sans-serif;
	color: #3a445b;
	margin-top: 5px;
}

.header-middle-right ul {
	padding-left: 0px;
	margin: 0;
	list-style: none;
}

.header-middle-right li {
	display: inline-block;
}

.header-middle-right a {
	font-weight: 400; 
	font-size: 21px;
	line-height: 18px;
	font-family: 'Cuprum', "Arial", sans-serif;
	color: #000000;
	text-decoration: none;
	padding-top: 13px;
	padding-bottom: 13px;
	padding-right: 25px;
	padding-left: 26px;
	background-color: #ffffff;
	display: inline-block;
}

.header-middle-right .login {
	padding-left: 46px;
	margin-right: 10px;
	position: relative;
}

.header-middle-right .login::before {
	position: absolute;
	content: "";
	background: url(../img/sprites.png) no-repeat;
	background-position: -100.0000228881836px -51.0000114440918px ;
	width: 20px;
	height: 17px;
	left: 14px;
	top: 13px;
}

.header-middle-right a:hover {
	color: #cd3944;
}

.header-middle-right a:active {
	color: #c9c9c9;
}

.header-middle-right a:hover::before {
	position: absolute;
	content: "";
	background: url(../img/sprites.png) no-repeat;
	background-position: -100.0000228881836px -22.000011444091797px ;
	width: 20px;
	height: 17px;
	left: 14px;
	top: 13px;
}

.header-middle-right a:active::before {
	position: absolute;
	content: "";
	background: url(../img/sprites.png) no-repeat;
	background-position: -100.0000228881836px -51.0000114440918px ;
	width: 20px;
	height: 17px;
	left: 14px;
	top: 13px;
}

.header-bottom {
	margin-top: 25px;
	font-size: 0;
	line-height: 0;
}

.header-bottom a {
	background-color: #3a445b;
}

nav ul {
	margin: 0;
	list-style: none;
	padding-left: 0;
}

nav li {
	padding-left: 0;
	display: inline-block;
}

nav a {
	display: inline-block;
	padding: 19px 30px;
	font-weight: 400; 
	font-size: 17px;
	line-height: 1.3;
	font-family: 'Cuprum', "Arial", sans-serif;
	color: #ffffff;
	text-decoration: none;
	border-bottom: 5px solid #30374a;
}

nav a:hover {
	background-color: #30374a;
}

nav a:active {
	background-color: #252b3b;
	color: #a0a2a7;
	border-color: #252b3b;
}

nav li .first {
	padding-left: 50px;
}

nav li .last {
	padding-right: 62px;
}

.features {
	margin-top: 75px;
	font-size: 0;
}

.features-left {
	margin-right: 19px;
	float: left;
}

.features-right {
	float: left;
	font-size: 0;
}

.features-item b {
	display: inline-block;
	font-weight: 700; 
	font-size: 24px;
	line-height: 30px;
	font-family: 'Cuprum', "Arial", sans-serif;
	color: #ffffff;
	margin-bottom: 15px;
}

.features-item p {
	font-size: 14px;
	line-height: 18px;
	font-weight: 400px;
	font-family: 'Cuprum', "Arial", sans-serif;
	color: #ffffff;
	margin: 0;
	text-transform: uppercase;
}

.features-item a {
	text-decoration: none;
	display: block;
	padding: 20px;
	padding-right: 140px;
	width: 140px;
}

.features-item {
	max-width: 300px;
	margin-bottom: 20px;
	position: relative;
	vertical-align: top;
}

.features-item::after {
	position: absolute;
	content: "";
	background: url(../img/sprites.png) no-repeat;
	top: 31px;
	right: 43px;
}

.features-left .features-item {
	display: inline-block;
}

.features-left .features-item:first-child {
	margin-right: 20px;
	overflow: hidden;
}

.features-left .features-item:first-child a {
	background-color: #e4b03d;
}

.features-left .features-item:first-child::after {
	background-position: 0 -291.0000114440918px ;
	width: 44px;
	height: 65px;
}

.features-left .features-item:first-child::before {
	position: absolute;
	content: "new";
	width: 120px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #cd3944;
	font-size: 16px;
	right: -35px;
	top: 6px;
	line-height: 18px;
	font-family: 'Cuprum', "Arial", sans-serif;
	color: #ffffff;
	text-align: center;
	transform: rotate(45deg);
}


.features-left .features-item:nth-child(2) a {
	background-color: #72addb;
}

.features-left .features-item:nth-child(2)::after {
	background-position: 0 -222.0000114440918px ;
	width: 75px;
	height: 61px;
}


.features-right .features-item:nth-child(1) a {
	background-color: #b878cd;
}

.features-right .features-item:nth-child(1)::after {
	background-position: 0 -150.0000114440918px ;
	width: 78px;
	height: 62px;
}

.features-right .features-item:nth-child(2) a {
	background-color: #9ed07d;
}

.features-right .features-item:nth-child(2)::after {
	background-position: 0 -69.00000381469727px ;
	width: 59px;
	height: 72px;
}

.features-right .features-item:nth-child(3) a {
	background-color: #e5b03d;
}

.features-right .features-item:nth-child(3)::after {
	background-position: 0 0;
	width: 78px;
	height: 63px;
}

.features-right .features-item:last-child {
	margin-bottom: 0;
}

.btn {
	display: block;
	padding: 10px 25px;
	background-color: rgba(0,0,0, 0.1);
	border-radius: 2px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
}

.btn:hover {
	background-color: rgba(0,0,0, 0.2);
}

.btn:active {
	background-color: rgba(0,0,0, 0.3);
}

.features-slider b {
	font-weight: 700;
	font-size: 36px;
	line-height: 30px;
	font-family: 'Cuprum', "Arial", sans-serif;
	color: #ffffff;
	text-transform: uppercase;
}

.features-slider p {
	font-size: 18px;
	line-height: 24px;
	font-family: 'Cuprum', "Arial", sans-serif;
	color: #ffffff;
	margin: 0;
}

.features-slider {
	width: 567px;
	height: 223px;
	background: url(../img/slider1.jpg) no-repeat;
	padding: 22px 27px;
	position: relative;
}

.features-slider .btn {
	font-size: 14px;
	line-height: 18px;
	font-family: 'Cuprum', "Arial", sasn-serif;
	color: #ffffff;
	background-color: #ee3643;
	text-decoration: none;
	position: relative;
	bottom: -123px;
	display: inline-block;
	text-transform: uppercase;
	padding-left: 47px;
	padding-right: 47px;
}

.features-slider .btn:hover {
	background-color: #ae2f39;
}

.features-slider .btn:active {
	background-color: #a02c35;
}

.popular {
	margin-top: 54px;
	margin-bottom: 85px;
}

.popular-header {
	margin: 0;
	padding: 25px;
	padding-left: 30px;
	background-color: #f7f3ec;
	padding-top: 22px;
}

.popular-header h2 {
	float: left;
	margin: 0;
	font-size: 30px;
	line-height: 1.3;
	font-family: 'Cuprum', "Arial", sans-serif;
	color: #32425c;
	text-transform: uppercase;
}

.popular-header .btn {
	float: right;
	background-color: #ee3643;
	line-height: 18px;
	padding-left: 60px;
	padding-right: 48px;
	text-transform: uppercase;
}

.popular-header .btn:hover {
	background-color: #ae2f39;
}

.popular-header .btn:active {
	background-color: #a02c35;
}

.popular-items {
	margin-top: 20px;
	font-size: 0;
}

.popular-item {
	display: inline-block;
	margin-right: 20px;
	vertical-align: top;
	max-width: 218px;
	border: 1px solid #e6e6e6;
	margin-bottom: 20px;
}

.popular-item img {
	display: block;
	margin: 30px 15px;

}

.popular-item:last-child {
	margin-right: 0;
}

.popular-item p {
	margin-bottom: 15px;
	margin-top: 15px;
	text-align: center;
}

.popular-item .item-desc {
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
	font-family: 'PT Sans', "Arial", sans-serif;
	color: #000000;
}

.popular-item .item-old-cost {
	font-weight: 700;
	font-size: 17px;
	line-height: 18px;
	font-family: 'PT Sans', "Arial", sans-serif;
	color: #999999;
	text-decoration: line-through;
}

.popular-item .item-old-cost--empty {
	color: #ffffff;
}

.popular-item .btn {
	overflow: hidden;
	position: relative;
	color: #ffffff;
	font-weight: 700;
	font-size: 17px;
	line-height: 18px;
	font-family: 'PT Sans', "Arial", sans-serif;
	margin: 0 40px;
	margin-bottom: 20px;
	background-color: #ee3643;
}

.popular-item .btn::after,
.popular-item .btn::before {
	position: absolute;
	content: "";
	right: 0;
	border-top: 19px solid #ffffff; 
	border-left: 19px solid transparent;
}

.popular-item .btn::after {
	top: 0;
}

.popular-item .btn::before {
	transform: rotate(90deg);
	bottom: 0;
}

.popular-bottom .popular-item {
	margin-right: 20px;
	margin-bottom: 20px;
	width: 218px;
	height: 145px;
	border: 1px solid #e6e6e6;
	position: relative;
}

.popular-item:hover {
	box-shadow: 0 10px 25px 0 rgba(48,55,74, 0.5); 
	border-color: #ffffff;
}

.popular-bottom .popular-item:nth-child(4n) {
	margin-right: 0;
}

.popular-bottom .popular-item img {
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.popular-bottom .popular-item:active {
	border-color: #ffffff;
	box-shadow: 0 4px 10px 0 rgba(48,55,74, 0.5);
}

.popular-bottom .popular-item:active img {
	opacity: 0.3;
}

.services {
	background-color: #f3f6f8;
	padding-top: 60px;
	padding-bottom: 100px;
}

.services h2 {
	font-weight: 400; 
	font-size: 30px;
	line-height: 1.3;
	font-family: 'Cuprum', "Arial", sans-serif;
	color: #000000;
	text-transform: uppercase;
}

.services-header  {
	margin-top: 0;
	width: 400px;
}

.services p {
	font-weight: 400; 
	font-size: 13px;
	line-height: 24px;
	font-family: 'PT Sans', "Arial", sans-serif;
	color: #000000;
}

.services-content-left,
.services-content-right {
	position: relative;
	float: left;
	margin-top: 75px;
}

.services-content-left ul {
 margin: 0;
 padding: 0;
 list-style: none;
}

.services-content-left li {
	font-family: 'Cuprum', "Arial", sans-serif;
	font-size: 21px;
	line-height: 1.3;
	font-weight: 700;
	color: #ffffff;
	padding: 16px 22px;
	background-color: #3a445b;
	min-width: 196px;
	border-top: 1px solid #465168;
	border-bottom: 1px solid #30374a;
}

.services-content-left::before {
	position: absolute;
	content: "";
	background: url("../img/shadowline.png");
	width: 10px;
	height: 272px;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

li.services-content-left-active {
	color: #3a445b;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	background-color: #ffffff;
}

.services-content-left li:hover {
	background-color: #30374a;
	border-top-color: #475168;
}

li.services-content-left-active:hover {
	color: #3a445b;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	background-color: #ffffff; 
}

.services-content-right {
	margin-left: 80px;
	width: 620px;
}

.services-content-right-item {
	width: 380px;
	position: relative;
	display: none;
}

.services-content-right h2 {
	margin-top: 0;
	margin-bottom: 25px;
}

.services-content-right-item::after {
	position: absolute;
	content: "";
	width: 470px;
	height: 285px;
	background-repeat: no-repeat;
	right: -240px;
	top: 0;
}

.services-content-right-item--active {
	display: block;
}

.delivery::after {
	background-image: url("../img/delivery.png");
}

.guarantee::after {
	background-image: url("../img/guarantee.png");
	right: -320px;
}

.credit::after {
	background-image: url("../img/credit.png");
	right: -270px;
}

.about-left {
	float: left;
	width: 540px;
}

.about-right {
	float: right;
	width: 300px;
}

.about-left h2,
.about-right h2 {
	font-family: 'Cuprum', "Arial", sans-serif;
	font-size: 30px;
	line-height: 1.3;
	color: #000000;
	text-transform: uppercase;
	margin-top: 0;
}

.about p {
	font-family: 'PT Sans', "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
	margin: 25px 0;
}

.about .container {
	padding: 80px 0;
}

.about-left ul {
	padding-left: 35px;
	list-style: none;
	margin-bottom: 35px;
}

.about-left li {
	font-size: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	line-height: 20px;
	margin: 20px 0;
	position: relative;
}

.about-left li::before {
	content: "";
	position: absolute;
	width: 25px;
	height: 2px;
	background-color: #db575a;
	left: -35px;
	top: 50%;
}

.about .btn {
	background-color: #ee3643;
	line-height: 18px;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	color: #ffffff;
	text-transform: uppercase;
}

.about-left .btn {
	width: 170px;
}

.about-right .btn {
	width: 250px;
}

.map {
	width: 300px;
	height: 160px;
	margin-bottom: 48px;
	background: #000000 url("../img/map.png");
}

footer {
	background-color: #3a445b;
}

footer .logo {
	font-size: 30px;
	line-height: 30px;
	padding: 18px 0;
}

footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}

footer li {
	display: inline-block;
	font-size: 0;
}

.footer-top li a:hover,
.footer-middle li a:hover {
	text-decoration: underline;
}

.footer-top li a:active,
.footer-middle li a:active {
	opacity: 0.5;
	text-decoration: none;
}

.footer-top li a,
.footer-middle li a {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	padding-left: 30px;
	padding-right: 30px;
}

.footer-top li:last-child a,
.footer-middle li:last-child a {
	padding-right: 0;
}

.footer-top li a {
	display: block;
	padding-top: 40px;
	padding-bottom: 8px;
	color: #f1f5f7;
}

.footer-middle li a {
	color: #f3d084;
}

footer .address {
	float: left;
}

.footer-middle {
	margin-top: 30px;
	padding-bottom: 50px;
}

.footer-middle p,
.footer-middle a {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #f1f5f7;
	text-decoration: none;
}

.footer-middle p {
	margin-bottom: 0;
}

.footer-bottom {
	background-color: #30374a;
}

.footer-bottom .container {
	padding-top: 35px;
	padding-bottom: 30px;
}

.footer-bottom p {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	margin: 0;
}

.footer-bottom a {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;
	color: #f3d084;
	text-decoration: none;
}

.footer-bottom-right a:hover {
	text-decoration: underline;
}

.footer-bottom-right a:active {
	text-decoration: none;
	opacity: 0.5;
}

.footer-bottom-left {
	float: left;
	margin-right: 160px;
}

.footer-bottom-center {
	float: left;
}

.footer-bottom-center a {
	width: 42px;
	height: 41px;
	margin-right: 5px;
	font-size: 0;
	background-color: #282e3c;
	display: inline-block;
	border-radius: 50%;
	position: relative;
	
}

footer .social::after {
	background: url("../img/sprites.png") no-repeat;
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

footer .social-vk::after {
	background-position: -100.0000228881836px -253.0000114440918px ; 
	width: 20px;
	height: 12px;
}

footer .social-fb::after {
	background-position: -102.0000228881836px -121.0000114440918px ;
	width: 10px;
	height: 18px;
}

footer .social-insta::after {
	background-position: -100.0000228881836px -72.0000114440918px ;
	width: 17px;
	height: 17px;
}

.footer-bottom-right {
	float: right;
}

.footer-bottom-right > div {
	display: inline-block;
	margin-right: 15px;
	margin-left: 20px;
}

.modal-popup .container {
	width: 460px;
	margin: auto;
	position: relative;
	padding-top: 45px;
}

.modal-popup {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 620px;
	border-top: 7px solid #cd3944;
	background-color: #ffffff;
	box-shadow: 0 20px 40px 0 rgba(0,0,0, 0.75);
	transform: translate(-50%, -50%);
	display: none;
}

.modal-popup-close {
	position: absolute;
	width: 26px;
	height: 26px;
	font-size: 0;
	border: none;
	right: 9px;
	top: 9px;
	background-color: #ffffff;
}

.modal-popup-close::before,
.modal-popup-close::after {
	position: absolute;
	content: "";
	width: 26px;
	height: 5px;
	background-color: #cd3944;
	left: 0;
	top: 42%;
	transform: translateY(-50%);
}

.modal-popup-close::before {
	transform: rotate(45deg);
}

.modal-popup-close::after {
	transform: rotate(-45deg);
}

.modal-popup label {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	line-height: 18px;
	color: #000000;
	margin-bottom: 10px;
	display: inline-block;
}

.modal-popup input::-webkit-input-placeholder {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #989898;
}

.modal-popup input,
.modal-popup textarea {
	padding: 10px 14px;
	width: 188px;
	border-radius: 2px;
	border: 2px solid #989898;
	margin-bottom: 20px;
	outline: none;
}

.modal-popup textarea {
	width: auto;
	margin-bottom: 30px;
}

.write-us-submit {
	background-color: #f1f1f1;
	padding: 37px 80px;
}

.write-us-submit .btn {
	width: 100%;
	margin: 0;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	background-color: #ee3643;
	text-transform: uppercase;
}

.write-us-submit .btn:hover {
	background-color: #ae2f39;
}

.write-us-submit .btn:active {
	background-color: #a02c35;
}

.write-us-name,
.write-us-email {
	display: inline-block;
}

.write-us-name {
	margin-right: 16px;
}





