@import "variables.scss";

:host.isHidden {
  display: none;
}
.sidebar__form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
  justify-content: space-between;
  @media (max-width: $screenMobileS) {
    margin-top: 35px;
  }
}
.sidebar__new-title {
  margin-top: 35px;
  margin-bottom: 0;
  font-size: 1.5625rem;
  font-weight: 400;
  @media (max-width: $screenMobileS) {
    margin-top: 25px;
  }
}
.label.sidebar__date-label {
  width: 49%;
  .input {
    padding-right: 35px;
    font-size: 14px;
  }
}
.label {
  width: 100%;
  position: relative;
  margin-bottom: 35px;
}
.input {
  width: 100%;
  height: 41px;
  color: #3f3e3c;
  border-radius: 4px;
  padding: 0 15px;
  border-width: 1px;
  font-size: 16px;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  background-color: $inputBgColor;
  transition: all 0.3s;
  border-color: $inputBorderColor;
}
.input {
  &.inputFilled.ng-invalid {
    border-color: red;
  }
}
.input:focus {
  outline-color: $inputBorderColor;
}

.input:focus + .input__placeholder {
  transform: translate(-15px, -45px);
  cursor: auto;
}

.inputFilled ~ .input__placeholder {
  transform: translate(-15px, -45px);
  cursor: auto;
}

.input__placeholder {
  position: absolute;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  color: $inputPlaceholderColor;
  z-index: 1;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: all 0.3s;
  text-transform: lowercase;
  cursor: text;
  pointer-events: none;
  white-space: nowrap;
}
@media (max-width: $screenMobileXS) {
  .input__placeholder {
    font-size: 14px;
  }
}
.button {
  width: 100%;
  height: 41px;
  padding: 0 15px;
  border: none;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  background-color: #3c9891;
  font-size: 1.25rem;
  line-height: 41px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  text-transform: lowercase;
  cursor: pointer;
  transition: all 0.3s;
}
.button:hover {
  background-color: $buttonBgHoverColor;
}
@media (max-width: $screenMobile) {
  .button {
    font-size: 16px;
  }
}
.sidebar__new-submit {
  width: 100%;
}
textarea {
  font-family: $mainFont;
  font-size: 16px;
  padding: 5px 15px;
  border: 1px solid $inputBorderColor;
  border-radius: 4px;
  resize: none;
  & + .input__placeholder {
    transform: none;
    top: 15px;
  }
  &:hover {
    outline-color: $inputButtonOutlineColor;
  }
  &:focus {
    & + .input__placeholder {
      transform: translate(-15px, -40px);
      cursor: auto;
    }
    outline-color: $inputBorderColor;
  }
  &.inputFilled ~ .input__placeholder {
    transform: translate(-15px, -40px);
    cursor: auto;
  }
}
.sidebar__textarea {
  width: 100%;
  min-height: 60px;
}
