<h3 class="sidebar__new-title">{{ title }}</h3>
<form [formGroup]="newTripForm" class="sidebar__form" (ngSubmit)=submitHandler()>
    <label [ngClass]="'label'">
        <input type="text" [ngClass]="{'input': true, 'inputFilled': newTripForm.value.title}" formControlName="title" required>
        <span class="input__placeholder">{{nameText}}</span>
    </label>
    <label [ngClass]="'label sidebar__date-label'">
        <input type="text" [dropSpecialCharacters]="false" mask="{{dateMask}}" [dpDayPicker]="dpDateStartConfig" [ngClass]="{'input': true, 'inputFilled': newTripForm.value.dateStart}" formControlName="dateStart">
        <span class="input__placeholder">{{dateStartText}}</span>
    </label>
    <label [ngClass]="'label sidebar__date-label'">
        <input type="text" [dropSpecialCharacters]="false" mask="{{dateMask}}" [dpDayPicker]="dpDateEndConfig" [ngClass]="{'input': true, 'inputFilled': newTripForm.value.dateEnd}" formControlName="dateEnd">
        <span class="input__placeholder">{{dateEndText}}</span>
    </label>
    <label [ngClass]="'label'">
        <textarea [ngClass]="{'textarea sidebar__textarea': true, 'inputFilled': newTripForm.value.description}" formControlName="description"></textarea>
        <span class="input__placeholder">{{textareaText}}</span>
    </label>
    <button [ngClass]="'button sidebar__new-submit'"  type="submit">{{submitButtonText}}</button>
</form>