<div class="auth__wrapper">
  <app-back-arrow [props]="backArrowProps"></app-back-arrow>
  
  <form class="auth__form auth__form--auth" action="">
    <app-auth-title [props]="titleProps"></app-auth-title>
    <div class="auth__labels">
      <app-label [props]="telProps"></app-label>
    </div>
    <app-button [props]="getCodeButtonProps"></app-button>
    <app-auth-links [links]="links"></app-auth-links>
  </form>

  <form class="auth__form auth__form--marginTop" action="">
    <div class="auth__labels">
      <app-label [props]="codeProps"></app-label>
      <app-label [props]="passwordProps"></app-label>
      <app-label [props]="passwordRepeatProps"></app-label>
    </div>
    <app-button [props]="submitButtonProps"></app-button>
  </form>

</div>