dp-date-picker {
  dp-calendar-nav .dp-calendar-nav-container {
    height: 40px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-color: $inputBorderColor;
  }
  dp-day-calendar {
    .dp-calendar-weekday {
      height: 20px;
      border-color: $inputBorderColor;
    }
    .dp-calendar-wrapper {
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
      border-color: $inputBorderColor;
    }
    .dp-calendar-weekday {
      color: #000;
    }
    .dp-calendar-day {
      border-radius: 50%;
      background-color: transparent;
      transition: all 0.3s;
      border: none;
      &:hover {
        background-color: $buttonBgHoverColor;
        color: #fff;
        opacity: 1;
      }
      &.dp-current-day {
        background-color: $buttonBgColor;
        color: #fff;
      }
    }
  }

  .dp-nav-header-btn {
    border-color: transparent;
    background-color: $buttonBgColor;
    border-radius: 3px;
    left: 10px;
    color: #fff;
    transition: all 0.3s;
    pointer-events: none;
    &:hover {
      background-color: $buttonBgHoverColor;
    }
  }
  dp-calendar-nav {
    .dp-nav-btns-container {
      display: flex;
      align-items: center;
      right: 5px;
      justify-content: space-between;
      min-width: 60px;
    }
    .dp-calendar-nav-left,
    .dp-calendar-nav-right {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s;
      border-color: transparent;
      background-color: transparent;
      border-radius: 50%;
      &:focus {
          outline: none;
      }
      &::before {
        border-color: $buttonBgColor;
        min-width: 8px;
      }
    }
    .dp-current-location-btn {
      top: 0;
      border-color: $buttonBgColor;
      background-color: $buttonBgColor;
      transition: all 0.3s;
      &:hover {
        border-color: $buttonBgHoverColor;
        background-color: $buttonBgHoverColor;
      }
    }
  }
}
