:root {
  font-size: 16px;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
:root {
  font-size: 16px;
}
@media (max-width: 1024px) {
  :root {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  :root {
    font-size: 13px;  
  }
}
@media (max-width: 640px) {
  :root {
    font-size: 12px;
  }
}
.label {
  display: block;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.15;
  color: #3f3e3c;
  background-color: #fff;
  min-height: 100vh;
  overflow-y: auto;
}

.body--overflowHidden {
  overflow: hidden;
}
@media screen {
  .body--overflowHidden {
    padding-right: 17px;
  }
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1200px) {
  .container {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media (max-width: 1024px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (max-width: 767px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.container--center {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}
@media (max-width: 767px) {
  .container--center {
    padding-top: 30px;
    padding-bottom: 50px;
    min-height: 100vh;
  }
}
