$containerMaxWidth:                         1140px;
$screenDesktop:                             1200px;
$screenTabletBig:                           1024px;
$screenMobile:                              767px;
$screenMobileS:                             640px;
$screenMobileXS:                            425px;


$mainFont:                                  "Montserrat", sans-serif;

$inputBgColor:                              #FBFBFB;
$buttonBgColor:                             #3C9891;
$buttonBgHoverColor:                        #2e736e;
$inputBorderColor:                          #019287;
$invalidColor:                              #ea3e3e;
$authInputBorderColor:                      #a4036f;
$authButtonBgColor:                         #A4036F;
$authButtonBgHoverColor:                    #800457;    
$backArrowColor:                            #435A59;    
$authButtonBgFadeColor:                     #601D4A;
$authButtonBgFadeHoverColor:                #4d163a;
$headerBorderColor:                         #A4036F;
$footerBorderColor:                         #048BA8;
$displayButtonColor:                        #456462;
$inputButtonOutlineColor:                   rgba(1, 146, 135, 0.3);
$authPasswordButtonOutlineColor:            rgba(164, 3, 111,0.3);
$inputTextColor:                            rgba(63, 62, 60, 1);
$inputPlaceholderColor:                     rgba(63, 62, 60, 0.5);
$starColor:                                 #019287;
$starEmptyColor:                            #02332f;
$textColor:                                 #3F3E3C;
$sidebarBorderColor:                        #0C8064;