@import "variables.scss";

h2 {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    font-size: 2.1875rem;
    font-weight: 500;
    &::after {
        content: "";
        position: absolute;
        bottom: -15px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #000;
    }
}
:host {
    display: block;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 120px;
    @media (max-width: $screenMobile) {
        margin-top: 20px;
        margin-bottom: 50px;
    }
}