@import "variables.scss";

:host {
  width: 100%;
}

.auth__wrapper {
  position: relative;
}
.auth__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 335px;
  position: relative;
}
.auth__form--marginTop {
  margin-top: 25px;
}
.auth__labels {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (max-width: $screenMobileXS) {
  .auth__wrapper {
    width: 100%;
  }
  .auth__form {
    width: 100%;
    max-width: 335px;
    margin-right: auto;
    margin-left: auto;
  }
}
