<ng-container *ngIf="list">
    <ul class="details__table destinations" *ngIf="list.length">

        <li *ngFor="let place of list" class="destinations__place destinations__place--country">
            <div class="destinations__place-info">
                <button [ngClass]="{'destination__dropdown' : true, 'destination__dropdown--up' : place.hidden}"
                    (click)="dropdownButtonClickListener(place)" type="button">
                    <svg-icon [src]="dropdownIconImg"
                        [svgStyle]="{ 'width.px': dropdownIconBigSize, 'height.px': dropdownIconBigSize, 'fill': dropdownIconColor }">
                    </svg-icon>
                </button>
                <p *ngIf="place.name" class="destinations__name">{{place.name}}</p>
                <p *ngIf="place.date" class="destinations__date">{{getDate(place.date)}}</p>
                <div class="destinations__controls">
                    <button *ngIf="!isNotEditable" class="destination__edit"
                        (click)="destinationDeleteHandler(confirmDeletion,place)"
                        type="button">
                        <svg-icon [src]="removeIconImage"
                            [svgStyle]="{ 'width.px': editIconsSize, 'height.px': editIconsSize, 'fill': editIconsColor}">
                        </svg-icon>
                    </button>
                </div>
            </div>
            <ul *ngIf="place.regions" [ngClass]="{'destinations__cities': true,
            'destinations--hidden': place.hidden}">
                <li *ngFor="let region of place.regions" class="destinations__place destinations__place--city">
                    <div class="destinations__place-info">
                        <button
                            [ngClass]="{'destination__dropdown' : true, 'destination__dropdown--up' : region.hidden}"
                            (click)="dropdownButtonClickListener(region)"
                            type="button">
                            <svg-icon [src]="dropdownIconImg"
                                [svgStyle]="{ 'width.px': dropdownIconMediumSize, 'height.px': dropdownIconMediumSize, 'fill': dropdownIconColor }">
                            </svg-icon>
                        </button>
                        <p *ngIf="region.name" class="destinations__name">{{region.name}}</p>
                        <p *ngIf="region.date" class="destinations__date">{{getDate(region.date)}}</p>
                        <div class="destinations__controls">
                            <button *ngIf="!isNotEditable" class="destination__edit"
                                (click)="destinationDeleteHandler(confirmDeletion,region)" type="button">
                                <svg-icon [src]="removeIconImage"
                                    [svgStyle]="{ 'width.px': editIconsSize, 'height.px': editIconsSize, 'fill': editIconsColor}">
                                </svg-icon>
                            </button>
                        </div>
                    </div>
                    <ul *ngIf="region.locations" [ngClass]="{'destinations__places': true,
                    'destinations--hidden': region.hidden}">
                        <li *ngFor="let location of region.locations"
                            class="destinations__place destinations__place--place">
                            <div class="destinations__place-info">
                                <button
                                    [ngClass]="{'destination__dropdown' : true, 'destination__dropdown--up' : location.hidden}"
                                    (click)="dropdownButtonClickListener(location)"
                                    type="button">
                                    <svg-icon [src]="dropdownIconImg"
                                        [svgStyle]="{ 'width.px': dropdownIconSmallSize, 'height.px': dropdownIconSmallSize, 'fill': dropdownIconColor }">
                                    </svg-icon>
                                </button>
                                <p *ngIf="location.name" class="destinations__name">{{location.name}}</p>
                                <p *ngIf="location.date" class="destinations__date">{{getDate(location.date)}}</p>
                                <div class="destinations__controls">
                                    <button *ngIf="!isNotEditable" class="destination__edit destination__edit--pen"
                                        (click)="editDescriptionHandler(editDescription, location)">
                                        <svg-icon [src]=" editIconImage"
                                            [svgStyle]="{ 'width.px': editIconsSize, 'height.px': editIconsSize, 'fill': editIconsColor}">
                                        </svg-icon>
                                    </button>
                                    <button *ngIf="!isNotEditable" class="destination__edit"
                                        (click)="destinationDeleteHandler(confirmDeletion,location)" type="button">
                                        <svg-icon [src]="removeIconImage"
                                            [svgStyle]="{ 'width.px': editIconsSize, 'height.px': editIconsSize, 'fill': editIconsColor}">
                                        </svg-icon>
                                    </button>
                                </div>
                            </div>
                            <div *ngIf="location.description" [ngClass]="{'destinations__place-description': true,
                            'destinations--hidden': location.hidden}">
                                <p class="destinations__place-text">{{location.description}}</p>

                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

    </ul>
</ng-container>
<ng-template #confirmDeletion let-modal>
    <p class="modal__text">Вы уверенны что хотите удалить место и все его вложения?</p>
    <div class="modal__buttons">
        <app-button [props]="modalAcceptProps" (eventEmitter)="modal.close('accept')"></app-button>
        <app-button [props]="modalDeclineProps" (eventEmitter)="modal.close('decline')"></app-button>
    </div>
</ng-template>

<ng-template #editDescription let-modal>
    <div class="modal__wrapper" [formGroup]="locationDescriptionForm">
        <p class="modal__text">Изменение описания</p>
        <textarea class="textarea" formControlName="description"></textarea>
        <div class="modal__buttons">
            <app-button [props]="modalEditProps" (eventEmitter)="modal.close('accept')"></app-button>
            <app-button [props]="modalNoEditProps" (eventEmitter)="modal.close('decline')"></app-button>
        </div>
    </div>
</ng-template>