@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-BlackItalic.woff2") format("woff2"), url("../fonts/Montserrat-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Italic.woff2") format("woff2"), url("../fonts/Montserrat-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-ThinItalic.woff2") format("woff2"), url("../fonts/Montserrat-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-MediumItalic.woff2") format("woff2"), url("../fonts/Montserrat-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-LightItalic.woff2") format("woff2"), url("../fonts/Montserrat-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Thin.woff2") format("woff2"), url("../fonts/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-BoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
:root {
  font-size: 16px; }
  @media (max-width: 1024px) {
    :root {
      font-size: 14px; } }
  @media (max-width: 767px) {
    :root {
      font-size: 13px; } }
  @media (max-width: 640px) {
    :root {
      font-size: 12px; } }

html,
main {
  min-height: 100%; }

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.15;
  color: #3F3E3C;
  background-color: #fff;
  height: 100%; }

* {
  box-sizing: border-box; }

.body--overflowHidden {
  overflow: hidden; }
  @media screen {
    .body--overflowHidden {
      padding-right: 17px; } }

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 1200px) {
    .container {
      padding-right: 50px;
      padding-left: 50px; } }
  @media (max-width: 1024px) {
    .container {
      padding-right: 30px;
      padding-left: 30px; } }
  @media (max-width: 767px) {
    .container {
      padding-right: 15px;
      padding-left: 15px; } }

.container--center {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 2%;
  padding-bottom: 2%; }
  @media (max-width: 767px) {
    .container--center {
      padding-top: 30px;
      padding-bottom: 50px;
      min-height: 100vh; } }

.main-title {
  margin-top: 0;
  margin-bottom: 100px;
  font-size: 4.68rem;
  text-align: center;
  font-weight: 300; }
  @media (max-width: 1024px) {
    .main-title {
      font-size: 3.68rem; } }
  @media (max-width: 767px) {
    .main-title {
      margin-bottom: 50px; } }
  @media (max-width: 640px) {
    .main-title {
      font-size: 2.5rem; } }
  @media (max-width: 425px) {
    .main-title {
      font-size: 2rem;
      line-height: 1.35; } }

.page-title {
  margin-top: 45px;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: 400; }
  @media (max-width: 767px) {
    .page-title {
      margin-top: 10px;
      font-size: 2rem; } }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 40;
  opacity: 0;
  pointer-events: none; }

.overlay--active {
  opacity: 0.8;
  pointer-events: auto; }

.input__placeholder {
  position: absolute;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  color: rgba(63, 62, 60, 0.5);
  z-index: 1;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: all 0.3s;
  text-transform: lowercase;
  cursor: text;
  pointer-events: none;
  white-space: nowrap; }
  @media (max-width: 425px) {
    .input__placeholder {
      font-size: 14px; } }

.input {
  width: 100%;
  height: 41px;
  color: #3f3e3c;
  border-radius: 4px;
  padding: 0 15px;
  border-width: 1px;
  font-size: 16px;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  background-color: #FBFBFB;
  transition: all 0.3s;
  border-color: #019287; }
  .input:focus {
    outline-color: #019287; }
    .input:focus + .input__placeholder {
      transform: translate(-15px, -45px);
      cursor: auto; }

.input--filled + .input__placeholder {
  transform: translate(-15px, -45px);
  cursor: auto; }

.label {
  width: 100%;
  position: relative;
  margin-bottom: 35px; }
  .label:last-child {
    margin-bottom: 0; }

.label--nomb {
  margin-bottom: 0; }

.button {
  height: 41px;
  padding: 0 15px;
  border: none;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  background-color: #3C9891;
  font-size: 1.25rem;
  line-height: 41px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  text-transform: lowercase;
  cursor: pointer;
  transition: all .3s; }
  .button:hover {
    background-color: #2e736e; }
  @media (max-width: 767px) {
    .button {
      font-size: 16px; } }

.select {
  font-family: "Montserrat", sans-serif;
  height: 41px;
  position: relative;
  padding-left: 15px;
  padding-right: 40px;
  border: 1px solid #019287;
  background-color: #FBFBFB;
  border-radius: 4px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  font-size: 15px; }
  .select:focus {
    outline-color: rgba(1, 146, 135, 0.3); }

option {
  font-family: "Montserrat", sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #FBFBFB;
  transition: all .3s; }
  option:hover {
    background-color: #019287;
    color: #fff; }

.select__wrapper {
  position: relative; }
  .select__wrapper::after {
    width: 18px;
    height: 18px;
    position: absolute;
    content: "";
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../img/dropdownArrow.svg");
    pointer-events: none; }

.link {
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 400;
  color: #000;
  transition: all .3s;
  opacity: 0.8;
  text-decoration: none;
  position: relative; }
  .link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 1px;
    background-color: #000;
    transform: translate(-50%, 0);
    transition: all .3s;
    opacity: 0; }
  .link:focus {
    outline: none; }
    .link:focus::after {
      opacity: 1; }
  .link:hover {
    opacity: 1; }
    .link:hover::after {
      opacity: 1; }

.textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding: 5px;
  border: 1px solid #019287;
  border-radius: 4px;
  resize: none; }
  .textarea + .input__placeholder {
    transform: none;
    top: 15px; }
  .textarea:hover {
    outline-color: rgba(1, 146, 135, 0.3); }
  .textarea:focus {
    outline-color: #019287; }
    .textarea:focus + .input__placeholder {
      transform: translate(-15px, -40px);
      cursor: auto; }
  .textarea.input--filled + .input__placeholder {
    transform: translate(-15px, -40px);
    cursor: auto; }

.back-arrow {
  padding-left: 30px;
  position: relative;
  text-decoration: none; }
  .back-arrow .back-arrow__svg {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s;
    fill: #435A59; }
  .back-arrow:focus .back-arrow__text {
    outline: none; }
    .back-arrow:focus .back-arrow__text::after {
      opacity: 1; }
  .back-arrow:hover .back-arrow__text {
    opacity: 1; }
    .back-arrow:hover .back-arrow__text::after {
      opacity: 1; }
  .back-arrow:hover .back-arrow__svg {
    transform: translate(-5px, -50%); }

.back-arrow__text {
  line-height: 1.25;
  font-weight: 400;
  color: #435A59;
  transition: all 0.3s;
  opacity: 0.8;
  text-decoration: none;
  position: relative;
  text-transform: lowercase;
  white-space: nowrap; }
  .back-arrow__text::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 1px;
    background-color: #435A59;
    transform: translate(-50%, 0);
    transition: all 0.3s;
    opacity: 0; }

@media (max-width: 425px) {
  .auth {
    width: 100%;
    display: flex;
    justify-content: center; } }

.auth__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 335px;
  position: relative; }
  @media (max-width: 425px) {
    .auth__form {
      width: 100%;
      max-width: 335px;
      margin-right: auto;
      margin-left: auto; } }

.auth__wrapper {
  display: none;
  position: relative; }
  @media (max-width: 425px) {
    .auth__wrapper {
      width: 100%; } }

.auth__wrapper--active {
  display: block; }

.auth__label {
  width: 100%; }

.auth__labels {
  display: flex;
  flex-direction: column;
  width: 100%; }

.auth__input {
  border-color: #a4036f; }
  .auth__input:focus {
    outline-color: #a4036f; }

.auth__input--password {
  padding-right: 45px; }

.auth__password-switcher {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-size: 25px 25px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../img/eye.svg");
  border: none;
  background-color: transparent;
  opacity: 0.6;
  cursor: pointer; }
  .auth__password-switcher:focus {
    outline-color: rgba(164, 3, 111, 0.3); }
  .auth__password-switcher::after {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    width: 2px;
    height: 70%;
    background-color: #000;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all .3s; }

.auth__password-switcher--active::after {
  height: 0%; }

.auth__button {
  margin-top: 15px;
  background-color: #A4036F;
  width: 100%;
  transition: all .3s; }
  .auth__button:hover {
    background-color: #800457;
    transform: translateY(2px); }

.auth__button--fade {
  background-color: #601D4A; }
  .auth__button--fade:hover {
    background-color: #4d163a; }

.auth__forgot-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 25px; }

.auth__divider {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 20px; }
  .auth__divider::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.8); }

.auth__divider-text {
  display: inline-block;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 10px;
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.8);
  background-color: #fff;
  text-transform: lowercase;
  font-size: 30px;
  line-height: 1;
  text-align: center;
  z-index: 1; }

.auth__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; }

.auth__social {
  font-size: 0;
  width: 35px;
  height: 35px;
  margin-right: 15px;
  margin-left: 15px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all .3s; }
  .auth__social:hover {
    transform: scale(1.1); }

.auth__social--vk {
  background-image: url("../img/vk.svg"); }

.auth__social--fb {
  background-image: url("../img/facebook.svg"); }

.auth__social--g {
  background-image: url("../img/google-plus.svg"); }

.auth__title {
  margin-top: 0;
  margin-bottom: 55px;
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 600; }

.auth__title--smaller {
  margin-bottom: 50px;
  font-size: 20px; }
  @media (max-width: 767px) {
    .auth__title--smaller {
      margin-bottom: 40px; } }

.auth__back-arrow {
  position: absolute;
  top: 0;
  right: 120%; }
  @media (max-width: 1024px) {
    .auth__back-arrow {
      right: 100%; } }
  @media (max-width: 767px) {
    .auth__back-arrow {
      height: 30px;
      transform: translateY(-15%); } }
  @media (max-width: 425px) {
    .auth__back-arrow {
      right: auto;
      top: auto;
      bottom: 100%;
      left: 0; } }
  @media (max-width: 767px) {
    .auth__back-arrow .back-arrow__text {
      display: none; } }

.auth__form--marginTop {
  margin-top: 25px; }

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000; }

.logo__text {
  max-width: 120px;
  margin-left: 15px;
  font-size: 20px;
  line-height: 1; }
  @media (max-width: 767px) {
    .logo__text {
      display: none; } }

.header {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 6px solid #A4036F; }
  @media (max-width: 767px) {
    .header {
      padding-top: 10px;
      padding-bottom: 10px; } }

.header__top {
  display: flex;
  justify-content: space-between; }

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #000; }

.profile__image {
  width: 51px;
  height: 51px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/profile.svg");
  background-position: center center; }

.profile__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem; }
  @media (max-width: 767px) {
    .profile__text {
      display: none; } }

.footer {
  min-height: 100px;
  border-top: 6px solid #048BA8; }

.list__content {
  margin-top: 50px;
  margin-bottom: 50px; }
  @media (max-width: 1024px) {
    .list__content {
      margin-top: 30px;
      margin-bottom: 30px; } }

.list__header {
  display: flex;
  padding-top: 45px;
  align-items: center; }
  @media (max-width: 1024px) {
    .list__header {
      align-items: flex-start;
      justify-content: flex-end;
      padding-top: 35px;
      flex-wrap: wrap; } }

.list__search-form {
  max-width: 340px; }
  @media (max-width: 1024px) {
    .list__search-form {
      margin-right: auto;
      margin-bottom: 20px; } }
  @media (max-width: 640px) {
    .list__search-form {
      width: 100%;
      margin-bottom: 15px; } }

.list__sort-wrapper {
  display: flex;
  margin-left: auto;
  align-items: center; }
  @media (max-width: 1024px) {
    .list__sort-wrapper {
      margin-left: 10px;
      margin-bottom: 20px; } }
  @media (max-width: 767px) {
    .list__sort-wrapper {
      max-width: 100%; } }
  @media (max-width: 640px) {
    .list__sort-wrapper {
      width: 100%;
      margin-bottom: 15px;
      margin-left: 0; } }

.list__sort-arrow {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  padding: 0;
  background-image: url("../img/backArrow.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  transition: all .3s;
  transform: rotate(-90deg);
  cursor: pointer; }
  .list__sort-arrow:focus {
    outline-color: rgba(1, 146, 135, 0.3); }
  @media (max-width: 767px) {
    .list__sort-arrow {
      min-width: 35px; } }

@media (max-width: 767px) {
  .list__sort .select {
    width: 100%; } }

.list__sort-arrow--up {
  transform: rotate(-90deg) scale(-1); }

.list__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

.list__type-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 1.4375rem;
  font-weight: 600; }

.list__type {
  margin-bottom: 55px; }

.searchForm {
  position: relative; }

.searchForm__submit {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  background-image: url("../img/searchIcon.svg");
  background-size: 25px;
  background-position: center center;
  background-repeat: no-repeat; }
  .searchForm__submit:focus {
    outline-color: rgba(1, 146, 135, 0.3); }

.searchForm__input {
  padding-left: 40px;
  min-width: 340px; }
  .searchForm__input:focus + .searchForm__input-placeholder {
    transform: translate(-40px, -45px); }
  @media (max-width: 767px) {
    .searchForm__input {
      min-width: 290px; } }

.input--filled + .searchForm__input-placeholder {
  transform: translate(-40px, -45px); }

.searchForm__input-placeholder {
  left: 40px; }

.displayButtons {
  display: flex;
  margin-left: 70px; }
  @media (max-width: 1024px) {
    .displayButtons {
      margin-left: auto;
      padding-left: 70px; } }
  @media (max-width: 640px) {
    .displayButtons {
      margin-left: 0;
      padding-left: 0;
      margin-right: auto;
      display: none; } }

.displayButtons__button {
  width: 50px;
  height: 42px;
  margin-right: 3px;
  margin-left: 3px;
  padding: 5px;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 4px; }
  .displayButtons__button:focus {
    outline: none; }
  .displayButtons__button:hover {
    border-color: #019287; }

.displayButtons__button--active {
  border-color: #019287;
  background-color: #019287; }
  .displayButtons__button--active .displayButtons__svg {
    fill: #fff; }

.displayButtons__svg {
  width: 100%;
  height: 100%;
  fill: #456462;
  transition: all 0.3s; }

.stars {
  margin-top: 8px; }

.list__content--grid .stars {
  margin-top: 0;
  display: flex;
  align-items: center; }

.stars__svg {
  width: 15px;
  height: 15px;
  margin-right: 3px;
  margin-left: 3px;
  fill: #02332f; }

.stars--1 .stars__svg:nth-child(1) {
  fill: #019287; }

.stars--2 .stars__svg:nth-child(1) {
  fill: #019287; }

.stars--2 .stars__svg:nth-child(2) {
  fill: #019287; }

.stars--3 .stars__svg:nth-child(1) {
  fill: #019287; }

.stars--3 .stars__svg:nth-child(2) {
  fill: #019287; }

.stars--3 .stars__svg:nth-child(3) {
  fill: #019287; }

.stars--4 .stars__svg:nth-child(1) {
  fill: #019287; }

.stars--4 .stars__svg:nth-child(2) {
  fill: #019287; }

.stars--4 .stars__svg:nth-child(3) {
  fill: #019287; }

.stars--4 .stars__svg:nth-child(4) {
  fill: #019287; }

.stars--5 .stars__svg {
  fill: #019287; }

.card {
  display: flex;
  position: relative;
  margin-bottom: 15px;
  padding: 25px;
  border: 1px solid #019287;
  border-radius: 4px; }
  @media (max-width: 767px) {
    .card {
      padding: 10px; } }

.card__inner {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
  align-content: flex-start; }
  @media (max-width: 425px) {
    .card__inner {
      flex-direction: column; } }

.card__image {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover; }

.card__image-wrapper {
  border-radius: 10px;
  overflow: hidden;
  width: 330px;
  height: 270px;
  min-width: 330px; }
  @media (max-width: 1024px) {
    .card__image-wrapper {
      width: 200px;
      min-width: 200px;
      height: 200px; } }
  @media (max-width: 640px) {
    .card__image-wrapper {
      display: none; } }

.card__info {
  padding-left: 27px; }
  @media (max-width: 640px) {
    .card__info {
      padding-left: 0; } }
  @media (max-width: 425px) {
    .card__info {
      order: 1; } }

.card__title {
  margin-top: 17px;
  margin-bottom: 0;
  font-size: 1.565rem;
  font-weight: 600; }
  @media (max-width: 640px) {
    .card__title {
      margin-top: 8px; } }

.card__date {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 17px;
  line-height: 21px;
  font-weight: 400; }
  @media (max-width: 640px) {
    .card__date {
      margin-top: 10px; } }

.card__description {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 17px;
  line-height: 21px;
  width: 100%;
  padding-left: 27px; }
  @media (max-width: 640px) {
    .card__description {
      margin-top: 10px;
      padding-left: 0; } }
  @media (max-width: 425px) {
    .card__description {
      order: 2; } }

.card__other {
  margin-left: auto; }
  @media (max-width: 425px) {
    .card__other {
      order: 3;
      margin-left: 0; } }

.card__stars {
  display: flex;
  justify-content: flex-end; }
  @media (max-width: 425px) {
    .card__stars {
      justify-content: flex-start; } }

.card__edit {
  display: inline-block;
  margin-top: 10px;
  font-weight: 600;
  font-size: 15px; }

.list__content--grid .list__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }
.list__content--grid .list__type {
  margin-bottom: 35px; }
  @media (max-width: 1024px) {
    .list__content--grid .list__type {
      margin-bottom: 25px; } }
.list__content--grid .card {
  width: 33%;
  flex-direction: column;
  border: none;
  padding-right: 15px;
  padding-left: 15px; }
  @media (max-width: 1024px) {
    .list__content--grid .card {
      width: 50%; } }
  @media (max-width: 640px) {
    .list__content--grid .card {
      width: 100%; } }
.list__content--grid .card__image-wrapper {
  width: 100%;
  height: 205px; }
  @media (max-width: 640px) {
    .list__content--grid .card__image-wrapper {
      display: block; } }
.list__content--grid .card__info {
  padding-left: 0; }
.list__content--grid .card__title {
  font-weight: 500; }
.list__content--grid .card__date {
  margin-top: 5px; }
.list__content--grid .card__description {
  display: none; }
.list__content--grid .card__other {
  display: flex;
  align-items: center;
  width: calc(100% - 30px);
  min-height: 30px;
  position: absolute;
  top: 200px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(255, 255, 255, 0.75); }
  @media (max-width: 767px) {
    .list__content--grid .card__other {
      top: 185px; } }
.list__content--grid .card__edit {
  margin-top: 0;
  margin-left: auto; }

.details__header {
  display: flex;
  flex-wrap: wrap;
  padding-top: 45px; }
  @media (max-width: 1024px) {
    .details__header {
      padding-top: 25px; } }

.details__back-arrow {
  width: 100%; }

.details__content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px; }

.details__title {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5625rem;
  font-weight: 500; }

.details__top {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  @media (max-width: 1024px) {
    .details__top {
      margin-top: 45px; } }
  @media (max-width: 767px) {
    .details__top {
      margin-top: 35px; } }
  @media (max-width: 640px) {
    .details__top {
      flex-direction: column; } }

.details__controls {
  display: flex;
  flex-direction: column; }
  @media (max-width: 640px) {
    .details__controls {
      width: 100%;
      margin-top: 15px; } }

.details__image {
  width: 35%;
  max-width: 455px;
  max-height: 300px;
  overflow: hidden;
  border-radius: 10px; }
  .details__image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%; }
  @media (max-width: 767px) {
    .details__image {
      display: none; } }

.details__button {
  width: 210px;
  margin-bottom: 12px; }
  @media (max-width: 640px) {
    .details__button {
      width: 100%; } }

.details__form {
  display: flex; }

.details__info {
  display: flex;
  flex-direction: column;
  width: 65%;
  padding-left: 25px; }
  @media (max-width: 767px) {
    .details__info {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px; } }

.details__input {
  width: 100%;
  padding-right: 35px;
  font-family: "Montserrat", sans-serif;
  border: none;
  background-color: transparent; }
  .details__input:focus {
    outline: none; }

.details__subtitle {
  font-weight: 600;
  font-size: 35px; }

.details__edit {
  pointer-events: none;
  position: absolute;
  width: 25px;
  height: 25px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/pen.svg");
  border: none;
  background-color: transparent; }

.details__info-label {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px; }
  @media (max-width: 1024px) {
    .details__info-label {
      margin-bottom: 20px; } }

.details__description-wrapper {
  display: flex;
  position: relative;
  width: 100%; }

.details__date {
  font-size: 2.1875rem; }
  @media (max-width: 640px) {
    .details__date {
      font-size: 1.5rem; } }

.details__description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px; }

.details__middle {
  margin-top: 80px;
  width: 100%; }
  @media (max-width: 1024px) {
    .details__middle {
      margin-top: 40px; } }
  @media (max-width: 767px) {
    .details__middle {
      margin-top: 20px; } }

.details__form {
  width: 100%; }

.details__info-label--lessMb {
  margin-bottom: 20px; }

.details__textarea {
  width: 100%;
  min-height: 110px;
  margin-top: 30px;
  padding: 10px 15px; }
  @media (max-width: 767px) {
    .details__textarea {
      margin-top: 25px; } }

.details__bottom-title {
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  font-size: 2.1875rem;
  font-weight: 500; }
  .details__bottom-title::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000; }

.deatils__bottom {
  width: 100%;
  margin-top: 65px;
  margin-bottom: 120px; }
  @media (max-width: 767px) {
    .deatils__bottom {
      margin-top: 30px;
      margin-bottom: 50px; } }

.destinations {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  background-color: #FBFBFB;
  border: 1px solid #019287;
  border-bottom: none;
  border-radius: 3px; }
  @media (max-width: 767px) {
    .destinations {
      margin-top: 35px; } }

.destinations__place-info {
  display: flex;
  min-height: 70px;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 1px solid #019287;
  border-radius: 3px; }
  @media (max-width: 767px) {
    .destinations__place-info {
      min-height: 50px;
      padding-right: 10px;
      padding-left: 10px; } }
  @media (max-width: 640px) {
    .destinations__place-info {
      flex-wrap: wrap; } }

.destinations__name {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px; }
  @media (max-width: 640px) {
    .destinations__name {
      width: 50%; } }

.destinations__date {
  min-width: 215px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 200; }
  @media (max-width: 767px) {
    .destinations__date {
      font-size: 16px; } }
  @media (max-width: 640px) {
    .destinations__date {
      width: 50%;
      min-width: 0;
      text-align: right; } }

.destinations__place--country .destinations__name {
  font-size: 1.875rem;
  font-weight: 500; }

.destinations__controls {
  min-width: 160px;
  margin-left: 20px; }
  @media (max-width: 767px) {
    .destinations__controls {
      margin-left: 10px; } }
  @media (max-width: 640px) {
    .destinations__controls {
      min-width: 130px;
      width: 100%;
      text-align: right; } }

.destinations__button {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
  background-size: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all .3s; }
  @media (max-width: 640px) {
    .destinations__button {
      margin-left: 0; } }
  .destinations__button:focus {
    outline-color: rgba(1, 146, 135, 0.3); }

.destinations__button--calendar {
  background-image: url("../img/calendar.svg"); }

.destinations__button--delete {
  background-image: url("../img/closeIcon.svg"); }

.destinations__button--dropdown {
  background-image: url("../img/down-chevron.svg");
  transform: rotate(180deg);
  transition: all .3s; }

.destinations__button--dropdown--active {
  transform: rotate(0deg); }

.destinations__cities,
.destinations__places {
  padding-left: 0;
  list-style: none; }

.destinations__place--city .destinations__name {
  font-size: 1.5625rem;
  font-weight: 400; }
.destinations__place--city .destinations__place-info {
  padding-left: 40px; }
  @media (max-width: 767px) {
    .destinations__place--city .destinations__place-info {
      padding-left: 20px; } }

.destinations__place--place .destinations__place-info {
  padding-left: 60px; }
  @media (max-width: 767px) {
    .destinations__place--place .destinations__place-info {
      padding-left: 30px; } }
.destinations__place--place .destinations__name {
  font-size: 1.35rem; }

.destinations__place-description {
  display: flex;
  border-bottom: 1px solid #019287;
  border-radius: 3px; }

.destinations__place-title {
  min-width: 120px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px 10px;
  font-weight: 600;
  font-size: 18px; }
  @media (max-width: 767px) {
    .destinations__place-title {
      display: none; } }

.destinations__place-text {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 15px;
  font-size: 1.25rem;
  line-height: 1.2; }
  @media (max-width: 767px) {
    .destinations__place-text {
      padding-right: 15px; } }

.destinations--hide {
  display: none; }

.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 440px;
  background-color: #fff;
  z-index: 50;
  transform: translateX(100%);
  transition: all 0.6s;
  border-right: 6px solid #0C8064;
  border-left: 6px solid #0C8064;
  overflow: auto; }
  @media (max-width: 767px) {
    .sidebar {
      width: 100%;
      max-width: 320px; } }

.sidebar--open {
  transform: none; }

.sidebar__inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 45px;
  padding-right: 35px;
  padding-left: 35px; }
  @media (max-width: 767px) {
    .sidebar__inner {
      padding-right: 20px;
      padding-left: 20px; } }
  @media (max-width: 640px) {
    .sidebar__inner {
      padding-top: 15px; } }

.sidebar__close {
  display: flex;
  align-items: center;
  cursor: pointer; }
  @media (max-width: 640px) {
    .sidebar__close {
      margin-bottom: 20px; } }

.sidebar__close-btn {
  border: none;
  padding: 0;
  background-color: transparent;
  width: 35px;
  height: 35px;
  margin-left: auto;
  padding: 5px;
  background-image: url("../img/closeIcon.svg");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer; }
  .sidebar__close-btn:focus {
    outline-color: rgba(1, 146, 135, 0.3); }

.sidebar__close-text {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  font-size: 20px; }

.sidebar__profile {
  flex-direction: row; }
  @media (max-width: 767px) {
    .sidebar__profile .profile__text {
      display: block; } }

.sidebar__profile-image {
  margin-right: 20px; }

.sidebar__list {
  margin-top: 50px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }
  @media (max-width: 640px) {
    .sidebar__list {
      margin-top: 30px; } }

.sidebar__list--disable {
  display: none; }

.sidebar__link {
  display: inline-block;
  margin-bottom: 13px;
  font-size: 1.4375rem;
  font-weight: 400; }

.sidebar__new {
  display: none;
  margin-top: 35px; }
  @media (max-width: 640px) {
    .sidebar__new {
      margin-top: 25px; } }

.sidebar__new--active {
  display: block; }

.sidebar__new-title {
  margin-top: 35px;
  margin-bottom: 0;
  font-size: 1.5625rem;
  font-weight: 400; }
  @media (max-width: 640px) {
    .sidebar__new-title {
      margin-top: 25px; } }

.sidebar__form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
  justify-content: space-between; }
  @media (max-width: 640px) {
    .sidebar__form {
      margin-top: 35px; } }

.sidebar__date-label {
  width: 45%; }

.sidebar__date-button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  background-color: transparent;
  background-size: 25px;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.3s; }
  .sidebar__date-button:focus {
    outline-color: rgba(1, 146, 135, 0.3); }

.sidebar__textarea {
  width: 100%;
  min-height: 100px; }

.sidebar__new-submit {
  margin-top: 22px;
  width: 100%; }

.sidebar__bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: auto;
  padding-top: 15px; }

.friends__search-form {
  display: flex; }
  @media (max-width: 425px) {
    .friends__search-form {
      width: 100%; } }

.friends__label {
  max-width: 340px;
  min-width: 340px; }
  @media (max-width: 1024px) {
    .friends__label {
      margin-bottom: 0; } }
  @media (max-width: 640px) {
    .friends__label {
      min-width: 250px; } }
  @media (max-width: 425px) {
    .friends__label {
      min-width: 0; } }

.friends__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  min-width: 41px;
  height: 41px;
  margin-left: 12px;
  border: 1px solid #019287;
  background-color: transparent;
  border-radius: 4px;
  transition: all .3s;
  cursor: pointer;
  padding: 0; }
  .friends__submit:hover {
    background-color: #019287; }
    .friends__submit:hover .friends__submit-svg {
      fill: #fff; }

.friends__submit-svg {
  fill: #019287;
  transition: all .3s; }

.friends__lists {
  width: 100%;
  margin-top: 40px; }

.friends__list-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.565rem;
  font-weight: 500; }

.friends__list {
  margin-top: 30px;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between; }
  .friends__list::after {
    content: "";
    flex: auto; }

.friends__item {
  width: 25%;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 767px) {
    .friends__item {
      width: 33%; } }
  @media (max-width: 640px) {
    .friends__item {
      width: 100%;
      display: flex;
      align-items: center;
      padding-right: 0;
      padding-left: 0; } }

.friends__image {
  display: block;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%; }
  @media (max-width: 640px) {
    .friends__image {
      width: 50px;
      height: 50px;
      margin-right: 0;
      margin-left: 0; } }
  @media (max-width: 425px) {
    .friends__image {
      display: none; } }

.friends__name {
  margin-top: 12px;
  margin-bottom: 0;
  font-size: 1.565rem;
  text-align: center;
  font-weight: 500; }
  @media (max-width: 640px) {
    .friends__name {
      text-align: left;
      margin-right: 10px;
      margin-left: 15px;
      margin-top: 0; } }
  @media (max-width: 425px) {
    .friends__name {
      margin-left: 0; } }

.friends__link {
  display: block;
  margin-top: 13px;
  text-decoration: none; }
  @media (max-width: 640px) {
    .friends__link {
      margin-top: 0;
      margin-left: auto;
      min-width: 130px; } }

.friends__block {
  margin-bottom: 100px; }
  @media (max-width: 1024px) {
    .friends__block {
      margin-bottom: 50px; } }
  @media (max-width: 640px) {
    .friends__block {
      margin-bottom: 20px; } }
