<ng-container *ngIf="trip">
    <app-details-main [ngClass]="{'isFriend': friendEmail}" [isNotEditable]="friendEmail"
        (saveButtonEmitter)="saveButtonHandler($event)" (deleteButtonEmitter)="deleteButtonHandler()"
        (starClickEmitter)="starClickHandler($event)" *ngIf="trip" [props]="trip"></app-details-main>
    <app-details-bottom [isNotEditable]="friendEmail" (updatePlaceEmitter)=updatePlaceHandler($event) *ngIf="trip"
        [props]="trip"></app-details-bottom>
</ng-container>
<div class="preloaderInner" *ngIf="!trip">
    <div class="app-loading">
        <div class="logo"></div>
        <svg class="spinner" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
</div>