@import "variables.scss";

:host {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 445px;
  background-color: #fff;
  z-index: 50;
  transform: translateX(100%);
  transition: all 0.6s;
  border-right: 6px solid $sidebarBorderColor;
  border-left: 6px solid $sidebarBorderColor;
  overflow: auto;
  @media (max-width: $screenMobile) {
    width: 100%;
    max-width: 320px;
  }
}
app-back-arrow.isHidden {
  display: none;
}
:host.--open {
  transform: translateX(0);
}
.sidebar__inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 25px;
  padding-right: 35px;
  padding-left: 35px;
  @media (max-width: $screenMobile) {
    padding-right: 20px;
    padding-left: 20px;
  }
  @media (max-width: $screenMobileS) {
    padding-top: 15px;
  }
}
.sidebar__top {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  @media (max-width: $screenMobileS) {
    margin-bottom: 10px;
  }
}
.sidebar__close-btn {
  border: none;
  padding: 0;
  background-color: transparent;
  width: 35px;
  height: 35px;
  margin-left: auto;
  padding: 5px;
  cursor: pointer;
  &:focus {
    outline-color: $inputButtonOutlineColor;
  }
}
.sidebar__profile-image {
  margin-right: 20px;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  object-fit: cover;
}
.sidebar__date-button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  background-color: transparent;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.3s;
  &:focus {
    outline-color: $inputButtonOutlineColor;
  }
}
.sidebar__new-submit {
  margin-top: 22px;
  width: 100%;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #000;
}
.profile__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  @media (max-width: $screenMobile) {
    display: none;
  }
}
.sidebar__profile {
  flex-direction: row;
  .profile__text {
    @media (max-width: $screenMobile) {
      display: block;
    }
  }
}
