@import "variables.scss";

:host {
    display: block;
    // margin-top: auto;
    min-height: 100px;
    border-top: 6px solid $footerBorderColor;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @media (max-width: $screenMobileS) {
        flex-direction: column;
        justify-content: flex-start;
    }
}
.about__name {
    margin-top: 1rem;
    margin-bottom: 1rem;
}