@charset "UTF-8";
.body {
  font-family: "ArialMT", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.15;
  min-width: 1330px;
  height: 100%;
  color: #333333;
  margin: 0; }
  @media (max-width: 1000px) {
    .body {
      width: 375px;
      min-width: auto;
      margin: 0 auto; } }

a:focus, button:focus {
  outline: 2px solid #FFD93E; }

.visualy-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

@font-face {
  font-family: 'ArialMT';
  src: url("../fonts/ArialMT.woff2") format("woff2"), url("../fonts/ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@media (max-width: 1000px) {
  .page-header {
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 40;
    width: 336px; } }

.page-header__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 24px 32px;
  border-top: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0; }
  @media (max-width: 1000px) {
    .page-header__container {
      border: none;
      padding: 18px 20px 12px;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

.main-nav {
  margin-left: 35px;
  position: relative; }
  @media (max-width: 1000px) {
    .main-nav {
      margin-left: 0; } }

.main-nav__button {
  display: none; }
  @media (max-width: 1000px) {
    .main-nav__button {
      display: block; } }

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 1000px) {
    .main-nav__list {
      width: 167px;
      position: absolute;
      right: -21px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      top: 100%;
      z-index: 40;
      opacity: 0;
      visibility: hidden;
      -webkit-transition-property: visibility opacity;
      -o-transition-property: visibility opacity;
      transition-property: visibility opacity;
      -webkit-transition-duration: 0.5s;
           -o-transition-duration: 0.5s;
              transition-duration: 0.5s; } }

.main-nav__list--active {
  opacity: 1;
  visibility: visible;
  -webkit-transition-property: visibility opacity;
  -o-transition-property: visibility opacity;
  transition-property: visibility opacity;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s; }

.main-nav__item {
  background-color: #FFFFFF;
  width: 100%;
  padding-bottom: 2px; }

.main-nav__link {
  padding: 10px 14px;
  font-weight: 700;
  font-size: 16px;
  color: #333333;
  opacity: 0.6;
  text-decoration: none; }
  @media (max-width: 1000px) {
    .main-nav__link {
      display: block;
      text-align: center; } }

.main-nav__link--active {
  opacity: 1; }

.main-nav__button {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 14px;
  border: none;
  background: none; }
  .main-nav__button::after {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    /* Добавил иконку так, потому что спрайт собирался неправильно */
    background: url("../img/icon-list.svg") no-repeat; }

.main-content__container {
  width: 1286px;
  margin: 0 auto;
  margin-bottom: 56px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  @media (max-width: 1000px) {
    .main-content__container {
      width: 375px;
      margin: 0;
      overflow: hidden;
      margin-top: 71px;
      margin-bottom: 0; } }

.main-content__title {
  width: 80%;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #333333; }
  @media (max-width: 1000px) {
    .main-content__title {
      width: 100%; } }

@media (max-width: 1000px) {
  .main-content__title--greeting {
    display: none; } }

.greeting {
  width: 630px;
  margin-right: 25px; }
  @media (max-width: 1000px) {
    .greeting {
      width: 335px;
      margin: 0 auto; } }

.greeting__content {
  height: 331px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  background: url("../img/bg@1x.png") left bottom no-repeat #dedede;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  overflow: hidden;
  -webkit-background-size: cover;
          background-size: cover; }
  @media (max-width: 1000px) {
    .greeting__content {
      height: 282px; } }

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
  .greeting__content {
    background-image: url("../img/bg@2x.png"); } }

.greeting__info {
  margin-left: 25px;
  margin-top: 26px;
  width: 57%; }
  @media (max-width: 1000px) {
    .greeting__info {
      width: 100%;
      margin-left: 20px;
      margin-top: 21px; } }

.greeting__title {
  font-size: 27px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 6px; }
  @media (max-width: 1000px) {
    .greeting__title {
      font-size: 18px;
      margin-bottom: 5px; } }

.greeting__description {
  color: #333333;
  font-size: 14px; }
  @media (max-width: 1000px) {
    .greeting__description {
      font-size: 12px; } }

.greeting__devices-scroll-icon {
  width: 200px;
  height: 41px;
  position: absolute;
  padding: 0;
  bottom: 0;
  right: 15px;
  border: none;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  background-color: #F7F7F7; }
  .greeting__devices-scroll-icon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    -webkit-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: url("../img/icon-arrow-double.png") no-repeat; }
  @media (max-width: 1000px) {
    .greeting__devices-scroll-icon {
      display: none; } }

.temperature {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px; }
  @media (max-width: 1000px) {
    .temperature {
      margin-top: 15px; } }

.temperature__desc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 18px; }

.temperature__place {
  font-size: 14px;
  color: #858585; }
  @media (max-width: 1000px) {
    .temperature__place {
      font-size: 12px; } }

.temperature__value {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4px;
  font-size: 36px;
  font-weight: 700; }
  @media (max-width: 1000px) {
    .temperature__value {
      margin-top: 5px;
      font-size: 24px; } }

.temperature__icon {
  margin-left: 5px; }
  @media (max-width: 1000px) {
    .temperature__icon {
      width: 17px;
      height: 17px; } }

.devices-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 20px;
  -webkit-transition-property: margin-left;
  -o-transition-property: margin-left;
  transition-property: margin-left;
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s; }
  @media (max-width: 1000px) {
    .devices-list {
      -webkit-transition: none;
      -o-transition: none;
      transition: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-left: 20px;
      margin-top: 5px; } }

.devices-list--favorites {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0; }

.devices-list__item {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 200px;
  max-width: 200px;
  height: 120px;
  margin-bottom: 15px;
  margin-right: 15px;
  padding: 14px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  background-color: #F7F7F7; }
  @media (max-width: 1000px) {
    .devices-list__item {
      margin-top: 10px;
      height: 100px; } }

.device:hover {
  background: #FFFFFF;
  -webkit-box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
          box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5); }

.device__type {
  margin-bottom: auto; }

.device__name {
  margin-top: 3px;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 700;
  color: #333333; }

.device__settings {
  font-size: 12px;
  font-weight: 400;
  color: #858585; }

.device__filter-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 29px;
  position: relative; }
  @media (max-width: 1000px) {
    .device__filter-wrapper {
      width: 100%;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

.scenarios {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 630px;
  overflow: hidden; }
  @media (max-width: 1000px) {
    .scenarios {
      width: 335px;
      margin: 0 auto;
      overflow: visible; } }

.scenarios__content {
  height: 331px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: margin-left;
  -o-transition-property: margin-left;
  transition-property: margin-left;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s; }
  @media (max-width: 1000px) {
    .scenarios__content {
      height: auto;
      -webkit-transition: none;
      -o-transition: none;
      transition: none; } }

.pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 11px;
  margin-right: 2px; }
  @media (max-width: 1000px) {
    .pagination {
      display: none; } }

.pagination__button {
  position: relative;
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px; }
  .pagination__button::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    top: 5px;
    left: 5px;
    border-left: 2px solid rgba(51, 51, 51, 0.3);
    border-top: 2px solid rgba(51, 51, 51, 0.3);
    -webkit-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.pagination__button--next {
  margin-left: 5px; }
  .pagination__button--next::after {
    -webkit-transform: rotate(135deg);
         -o-transform: rotate(135deg);
            transform: rotate(135deg); }

.pagination__button--active::after {
  border-left: 2px solid #333333;
  border-top: 2px solid #333333; }

.scenarios-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 630px;
  min-width: 630px;
  max-width: 630px;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  margin-right: 15px; }
  @media (max-width: 1000px) {
    .scenarios-list {
      width: auto;
      min-width: auto;
      max-width: auto;
      -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap; } }

.scenarios-list__item {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 200px;
  max-width: 200px;
  height: 100px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 14px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  background-color: #F7F7F7; }
  .scenarios-list__item:nth-child(3n) {
    margin-right: 0; }
    @media (max-width: 1000px) {
      .scenarios-list__item:nth-child(3n) {
        margin-right: 15px; } }
  @media (max-width: 1000px) {
    .scenarios-list__item {
      margin-bottom: 0; } }

.scenario:hover {
  background: #FFFFFF;
  -webkit-box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
          box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5); }

.scenario__type {
  margin-bottom: auto; }

.scenario__name {
  width: 90%;
  margin: 0;
  font-size: 14px; }

.scenario__settings {
  margin-top: 4px;
  font-size: 12px;
  font-weight: 400;
  color: #858585; }

.devices {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-bottom: 5px;
  overflow: hidden; }
  @media (max-width: 1000px) {
    .devices {
      width: 335px;
      margin: 0 auto;
      -webkit-box-align: baseline;
      -webkit-align-items: baseline;
          -ms-flex-align: baseline;
              align-items: baseline;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      overflow: initial; } }

.devices__title {
  width: auto;
  margin: 0; }

.devices__pagination {
  margin-top: 37px;
  width: 50%; }

.devices__filter {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 13px; }
  @media (max-width: 1000px) {
    .devices__filter {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      bottom: 105%;
      right: 0;
      text-align: right;
      background-color: #FFFFFF;
      -webkit-transition-property: visibility opacity;
      -o-transition-property: visibility opacity;
      transition-property: visibility opacity;
      -webkit-transition-duration: 0.5s;
           -o-transition-duration: 0.5s;
              transition-duration: 0.5s; } }

.devices__filter--active {
  visibility: visible;
  opacity: 1;
  -webkit-transition-property: visibility opacity;
  -o-transition-property: visibility opacity;
  transition-property: visibility opacity;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s; }

.devices__filter-button {
  display: none;
  position: relative;
  padding: 8px;
  padding-right: 31px;
  border: none;
  background-color: #FFD93E;
  font-size: 13px;
  font-weight: 700;
  color: #333333;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  cursor: pointer; }
  .devices__filter-button::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-left: 1px solid #333333;
    border-top: 1px solid #333333;
    right: 16px;
    top: 10px;
    -webkit-transform: rotate(-135deg);
         -o-transform: rotate(-135deg);
            transform: rotate(-135deg); }
  @media (max-width: 1000px) {
    .devices__filter-button {
      display: block;
      padding: 8px 31px 8px 16px; } }

@media (max-width: 1000px) {
  .filter__item {
    margin-top: 3px;
    margin-bottom: 3px; } }

@media (max-width: 1000px) {
  .filter__item--popup {
    margin-right: 10px; }
    .filter__item--popup:last-child {
      margin-right: 0; } }

.filter__button {
  margin-right: 10px;
  padding: 8px 14px;
  border: none;
  background-color: #F7F7F7;
  font-size: 13px;
  font-weight: 700;
  color: #333333;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  cursor: pointer;
  white-space: nowrap; }
  @media (max-width: 1000px) {
    .filter__button {
      width: 100%; } }

.filter__button--active {
  background-color: #FFD93E; }

.page-footer {
  width: 100%;
  z-index: 40;
  background-color: #FFFFFF;
  position: fixed;
  left: 0;
  bottom: 0; }
  @media (max-width: 1000px) {
    .page-footer {
      position: static; } }

.page-footer__container {
  padding-top: 20px;
  padding-right: 36px;
  padding-bottom: 20px;
  padding-left: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 1000px) {
    .page-footer__container {
      padding: 20px;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.about {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.about__link {
  margin-right: 15px;
  font-size: 12px;
  font-weight: 400;
  color: #858585;
  text-decoration: none; }

.copyrights {
  font-size: 12px;
  font-weight: 400;
  color: #858585; }
  @media (max-width: 1000px) {
    .copyrights {
      margin-top: 5px; } }

.popup {
  display: none;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 630px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 50;
  overflow: hidden; }
  @media (max-width: 1000px) {
    .popup {
      width: 335px;
      top: 20px;
      -webkit-transform: translate(-50%, 0);
           -o-transform: translate(-50%, 0);
              transform: translate(-50%, 0); } }

.popup--active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.popup__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 25px;
  background-color: #FFFFFF;
  -webkit-border-radius: 20px;
          border-radius: 20px; }
  @media (max-width: 1000px) {
    .popup__content {
      padding: 20px; } }

.popup__content--range {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

.popup__info {
  width: 80%;
  margin-bottom: 20px; }
  @media (max-width: 1000px) {
    .popup__info {
      width: 100%;
      text-align: left;
      margin-bottom: 15px; } }

.popup__title {
  font-size: 27px;
  margin-top: 0;
  margin-bottom: 6px; }
  @media (max-width: 1000px) {
    .popup__title {
      font-size: 18px;
      margin-bottom: 5px; } }

.popup__status {
  font-size: 14px; }
  @media (max-width: 1000px) {
    .popup__status {
      font-size: 12px; } }

.popup__details {
  width: 20%;
  text-align: right; }
  @media (max-width: 1000px) {
    .popup__details {
      display: none; } }

.popup__filter {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px; }

.popup__filter .filter__button {
  background-color: #F2F1F0;
  color: #000000;
  padding: 7px 12px; }
  @media (max-width: 1000px) {
    .popup__filter .filter__button {
      white-space: nowrap; } }

.popup__filter .filter__button--active {
  background-color: #FFCD00; }

.popup__range {
  position: relative; }
  @media (max-width: 1000px) {
    .popup__range {
      margin: 0 auto; } }

.popup__temperature {
  vertical-align: top;
  font-size: 36px;
  font-weight: 700; }

.popup__data {
  font-size: 66px;
  font-weight: 700;
  color: #333333; }

.popup__buttons {
  margin-top: 21px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 1000px) {
    .popup__buttons {
      margin-top: 15px;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.popup__button {
  width: 307px;
  padding: 20px 0;
  border: none;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  background-color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
  color: #333333;
  cursor: pointer; }
  @media (max-width: 1000px) {
    .popup__button {
      margin-bottom: 15px;
      width: 100%; } }

.popup__button--accept {
  background-color: #FFD93E;
  color: #000000; }
  .popup__button--accept:hover {
    background-color: #FFCD00; }

@media (max-width: 1000px) {
  .popup__radial {
    margin-top: 88px;
    margin-bottom: 88px; } }

.radial__outter {
  position: relative;
  width: 221px;
  height: 221px;
  text-align: center;
  background: url("../img/icon-Oval1x.svg") left top no-repeat;
  z-index: 40; }
  .radial__outter::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -13%;
    left: 50%;
    -webkit-transform: translate(-50%, -25%);
         -o-transform: translate(-50%, -25%);
            transform: translate(-50%, -25%);
    border-bottom: 110px solid #FFFFFF;
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
    z-index: 50; }
  .radial__outter::before {
    content: "";
    position: absolute;
    width: 65px;
    height: 74px;
    background: #FFFFFF url("../img/icon-Oval Copy@1x.svg") no-repeat;
    right: 0;
    bottom: 0;
    -webkit-transform: translateY(-46%) translateX(15%) rotate(-13deg);
         -o-transform: translateY(-46%) translateX(15%) rotate(-13deg);
            transform: translateY(-46%) translateX(15%) rotate(-13deg); }

.radial__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 178px;
  height: 178px;
  top: 20px;
  left: 20px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #FEFEFE url("../img/icon-background.svg") -4px -2px no-repeat;
  -webkit-box-shadow: 0 2px 4px 0 rgba(134, 121, 71, 0.45);
          box-shadow: 0 2px 4px 0 rgba(134, 121, 71, 0.45);
  z-index: 60; }

.radial__arrow {
  position: absolute;
  border: 10px solid transparent;
  border-right: 10px solid #333333;
  display: block;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  margin: -10px;
  -webkit-transform: rotate(3deg) translate(435%) rotate(180deg);
       -o-transform: rotate(3deg) translate(435%) rotate(180deg);
          transform: rotate(3deg) translate(435%) rotate(180deg); }

.range {
  width: 100%;
  height: 60px;
  -webkit-border-radius: 30px;
          border-radius: 30px; }
  @media (max-width: 1000px) {
    .range {
      width: 60px;
      height: 336px; } }

.range--light {
  background-image: -webkit-linear-gradient(5deg, #FFE682 2%, #FF9E00 98%);
  background-image: -o-linear-gradient(5deg, #FFE682 2%, #FF9E00 98%);
  background-image: linear-gradient(85deg, #FFE682 2%, #FF9E00 98%); }
  @media (max-width: 1000px) {
    .range--light {
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(2%, #FFE682), color-stop(98%, #FF9E00));
      background-image: -webkit-linear-gradient(bottom, #FFE682 2%, #FF9E00 98%);
      background-image: -o-linear-gradient(bottom, #FFE682 2%, #FF9E00 98%);
      background-image: linear-gradient(0deg, #FFE682 2%, #FF9E00 98%); } }

.range--temperature {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(2%, #068FFF), color-stop(51%, #FFD800), to(#F76B1C));
  background-image: -webkit-linear-gradient(left, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
  background-image: -o-linear-gradient(left, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
  background-image: linear-gradient(90deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%); }
  @media (max-width: 1000px) {
    .range--temperature {
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(2%, #068FFF), color-stop(51%, #FFD800), to(#F76B1C));
      background-image: -webkit-linear-gradient(bottom, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
      background-image: -o-linear-gradient(bottom, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
      background-image: linear-gradient(0deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%); } }

.range__icon {
  position: absolute;
  top: 15px; }
  @media (max-width: 1000px) {
    .range__icon {
      top: auto; } }

.range__icon--start {
  left: 15px; }
  @media (max-width: 1000px) {
    .range__icon--start {
      bottom: 15px; } }

.range__icon--start.range__icon--data {
  left: 20px; }
  @media (max-width: 1000px) {
    .range__icon--start.range__icon--data {
      left: 15px;
      bottom: 15px; } }

.range__icon--end {
  right: 15px; }
  @media (max-width: 1000px) {
    .range__icon--end {
      top: 15px; } }

.range__icon--end.range__icon--data {
  right: 20px; }
  @media (max-width: 1000px) {
    .range__icon--end.range__icon--data {
      right: 15px;
      top: 15px; } }

.range__icon--data {
  font-size: 18px;
  font-weight: 700;
  top: 50%;
  -webkit-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #FFFFFF; }
  @media (max-width: 1000px) {
    .range__icon--data {
      top: auto;
      -webkit-transform: none;
           -o-transform: none;
              transform: none; } }

.range__controller {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 0;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 3px solid rgba(51, 51, 51, 0.1);
  -webkit-box-shadow: 0 1px 10px -7px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 10px -7px rgba(0, 0, 0, 0.5);
  cursor: pointer; }
  .range__controller::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 111%;
    height: 111%;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 4px solid #FFFFFF;
    top: -7px; }
  @media (max-width: 1000px) {
    .range__controller {
      left: 0;
      top: 30%; } }

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 40;
  -webkit-filter: blur();
          filter: blur();
  background-color: rgba(51, 51, 51, 0.5); }

.overlay--active {
  display: block; }

.wrapper--overlay {
  -webkit-filter: blur(3px);
          filter: blur(3px); }
