<form [formGroup]="detailsForm" class="details__form" (ngSubmit)="saveButtonHandler()">
  <div class="details__image">
    <label class="imageUpload">
      <svg-icon class="uploadIcon"
        [src]="upload.icon"
        [svgStyle]="{ 'width.px': upload.size, 'height.px': upload.size, 'fill': upload.color }">
      </svg-icon>
      <input type="file" class="details__fileInput" (change)="uploadImage($event)" accept=".png,.jpg" readonly="{{isNotEditable}}">
    </label>
    <img [src]="props.mainImg" width="455" height="300" alt="Usa">
  </div>
  <div class="details__info">
    <label class="label details__info-label">
      <input type="text" class="details__input details__subtitle" formControlName="title" readonly="{{isNotEditable}}">
    </label>
    <div class="details__dates">
      <label class="label details__info-label details__info-label--lessMb">
        <input mask="{{dateMask}}" type="text" class="details__input details__date" [dpDayPicker]="dpConfig"
          formControlName="dateStart"
          readonly="{{isNotEditable}}">
      </label>
      <label class="label details__info-label details__info-label--lessMb">
        <span class="detail__dash">-</span>
        <input mask="{{dateMask}}" type="text" class="details__input details__date"
          [dpDayPicker]="dpConfig" formControlName="dateEnd" readonly="{{isNotEditable}}">
      </label>
    </div>
    <label class="label details__info-label">
      <span class="details__description-wrapper">
        <span class="details__description">Описание</span>
      </span>
      <textarea class="textarea details__textarea" formControlName="description"
        readonly="{{isNotEditable}}"></textarea>
    </label>
  </div>
  <div class="details__controls-outer">
    <div class="details__stars stars">
      <svg-icon (click)="starClickHandler(id)" class="stars__svg" *ngFor="let number of numbers, index as id"
        [src]="star.icon"
        [svgStyle]="{ 'width.px': star.size, 'height.px': star.size, 'fill': number > rating ? star.color : star.filledColor }">
      </svg-icon>
    </div>
    <div class="details__controls" *ngIf="!isNotEditable">
      <app-button class="saveButton" [props]="saveButton"></app-button>
      <app-button [props]="deleteButton" (click)="deleteButtonHandler()"></app-button>
    </div>
  </div>
</form>