@import "variables.scss";

h1 {
  margin-top: 0;
  margin-bottom: 100px;
  font-size: 3.68rem;
  text-align: center;
  font-weight: 300;
  display: flex;
  align-items: center;
}
img {
  margin-right: 20px;
}
@media (max-width: $screenTabletBig) {
  h1 {
    font-size: 2.68rem;
  }
}
@media (max-width: $screenMobile) {
  h1 {
    margin-bottom: 50px;
  }
}
@media (max-width: $screenMobileS) {
  h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: $screenMobileXS) {
  h1 {
    font-size: 1.4rem;
    line-height: 1.35;
  }
  .auth {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
