@import "variables.scss";

:host {
    display: flex;
    flex-wrap: wrap;
}
.friends__header {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.friends__title {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5625rem;
    font-weight: 500;
}