@font-face {
  font-family: "AgoraSansPro";
  font-weight: 500;
  src: url("../fonts/pfagorasanspro-bold.ttf");
}
@font-face {
  font-family: "AgoraSansPro";
  font-weight: 400;
  src: url("../fonts/pfagorasanspro-reg.ttf");
}
@font-face {
  font-family: "AgoraSansPro";
  font-weight: 300;
  src: url("../fonts/pfagorasanspro-light.ttf");
}
@font-face {
  font-family: "AgoraSansPro";
  font-weight: 200;
  src: url("../fonts/pfagorasanspro-thin.ttf");
}
@font-face {
  font-family: "AgoraSansPro";
  font-weight: 100;
  src: url("../fonts/pfagorasanspro-xthin.ttf");
}

body {
  font-family: "AgoraSansPro";
  font-weight: 400;
}

.hide-text {
  line-height: 0;
  font-size: 0;
}

.container {
  width: 1080px;
  margin: auto;
}

.testimonials-container {
  width: 50%;
  margin-left: 0;
}

.main-header {
  width: 1280px;
  margin: auto;
  display: flex;
}

.main-header_burger {
  position: relative;
}

.main-header_middle {
  display: flex;
  width: 1080px;
  justify-content: space-between;
}

.main-header_login {
  position: relative;
}

.main-header_login > a {
  display: block;
  padding: 40px 50px;
}

.main-header_login > a::after {
  top: 25px;
  left: 29px;
  position: absolute;
  content: "";
  background: url("../img/sprites.png") no-repeat;
  background-position: 0 -241.00001907348633px ;
  width: 33px;
  height: 29px;
}

.main-header_burger-btn {
  width: 100px;
  height: 80px;
  font-size: 0;
  line-height: 0;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #fff;
  outline: 0;
  position: relative;
  cursor: pointer;
}

.main-header_burger-btn::before {
  position: absolute;
  content: "";
  background: url("../img/sprites.png") no-repeat;
  background-position: 0 -312.0000190734863px ;
  width: 25px;
  height: 18px;
  right: 37px;
  top: 31px;
}

.main-header_middle_logo {
  padding: 28px 29px;
}

.main-header_middle_phone {
  margin: 20px 0;
}


.main-header_middle_phone > a {
  position: relative;
  display: block;
  font-weight: 300;
  text-decoration: none;
  padding: 11px 36px;
  border-radius: 10px;
  background-color: #ffd200;
  color: #000000;
}

.main-header_middle_phone > a::after {
  content: "";
  position: absolute;
  bottom: 11px;
  left: 36px;
  width: 64%;
  border-top: 1px dotted #000000;
}

.main-content-create {
  height: 550px;
  background: #e6e1db url("../img/main-banner.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.main-content-create_header {
  font-weight: 100;
  font-size: 60px;
  font-variant: small-caps;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 25px;
}

.main-content-create_description {
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}

.btn {
  text-align: center;
  padding: 20px 35px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 200;
  font-size: 26px;
  color: #000000;
  text-transform: uppercase;
}

.main-content-create_btn-container {
  margin-top: 70px;
  text-align: center;
}

.main-content-create_btn {
  border: 1px solid #000000;
}

.main-content-process {
  padding: 55px 63px 90px 63px;
  text-align: center;
}

.process-item {
  position: relative;
  width: 139px;
  display: inline-block;
  margin-left: 131px;
}

.process-item:first-child {
  margin-left: 0;
}

.process-item_image::after {
  position: absolute;
  content: "";
  width: 131px;
  height: 5px;
  left: 100%;
  top: 50%;
  background: url("../img/sprites/dotted-line.png") no-repeat;
}

.process-item:last-child > .process-item_image::after {
  display: none;
}

.process-item_image {
  width: 139px;
  height: 139px;
  border: 5px solid #ffd200;
  border-radius: 50%;
  position: relative;
}

.process-item_image::before {
  position: absolute;
  content: "";
  background: url("../img/sprites.png") no-repeat;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.process-item_image-download::before {
  background-position: 0 0;
  width: 57px;
  height: 48px;
}

.process-item_image-design::before {
  background-position: 0 -50.00001907348633px ;
  width: 54px;
  height: 52px;
}

.process-item_image-pay::before {
  background-position: 0 -106.00000381469727px ;
  width: 62px;
  height: 55px;
}

.process-item_image-get::before {
  background-position: 0 -174.00001907348633px ;
  width: 52px;
  height: 57px;
}

.process-item_description {
  display: block;
  font-weight: 300;
  font-size: 24px;
  margin-top: 25px;
}

.main-content-advantage {
  background-color: #f3f0e7;
}

.main-content-advantage > .container {
  padding: 55px 20px 80px 20px;
  text-align: center;
}

.advantage_header {
  font-variant: small-caps;
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 60px;
  margin: 0;
}

.advantage_advantages {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;

}

.advantage-item_photo {
  width: 270px;
  height: 270px;
}

.main-content-advantage_item {
  width: 270px;
}

.advantage-item_photo_social-media {
  border-radius: 50%;
  background-color: #ffffff;
}

.advantage-item_photo_social-media {
  display: flex;
}

.advantage-item_photo_social-media > img {
  margin: auto;
}

.advantage-item_description {
  font-weight: 300;
  font-size: 24px;
}

.advantage-item_text {
  font-weight: 300;
  font-size: 16px;
}

.main-content-advantage .btn_container {
  margin-top: 85px;
}

.main-content-advantage_btn {
  background-color: #e11a27;
  color: #ffffff;
}

.main-content-ready-solutions {
  padding-top: 70px;
  padding-bottom: 115px;
  text-align: center;
}

.ready-solutions_header {
  font-variant: small-caps;
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 0;
}

.ready-solutions_items {
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
}

.ready-solutions-item {
  width: 315px;
  background-color: #ffd200;
  border-radius: 10px;
}

.ready-solutions-item_header {
  font-weight: 400;
  font-variant: small-caps;
  letter-spacing: 1px;
  font-size: 36px;
  margin: 40px 0;
}

.ready-solutions-item_description ul {
  list-style: none;
  padding: 0;
  text-align: left;
  display: block;
  margin: 0;
  padding-left: 60px;
  height: 150px;
}

.ready-solutions-item_description li {

  font-size: 16px;
  line-height: 26px;
  position: relative;
}

.ready-solutions-item_description li::before {
  position: absolute;
  content: "";
  background: url("../img/sprites.png") no-repeat;
  background-position: 0 -281.0000190734863px ;
  width: 20px;
  height: 20px;
  left: -38px;
}

.ready-solutions-item_description {
  background-color: #ffffff;
  margin-left: 5px;
  margin-right: 5px;
  padding: 20px 0;
}

.ready-solutions-item_cost {
  margin-top: 15px;
  font-weight: 300;
  font-size: 60px;
}

.ready-solutions-item_buy-btn > a {
  display: block;
  font-size: 21px;
  font-weight: 200;
  color: #000;
  text-decoration: none;
  padding: 15px 50px;
}

.main-content-testimonials {
  background: url("../img/testimonials-banner.png") no-repeat center;
  background-size: cover;
}

.testimonials_header {
  font-variant: small-caps;
  letter-spacing: 3px;
  font-size: 60px;
  font-weight: 100;
  padding-top: 35px;
  margin-top: 0;
  margin-bottom: 40px;
}

.testimonials-person {
  font-weight: 300;
  font-size: 18px;
}

.testimonials-person_avatar {
  float: left;
}

.testimonials-person-text {
  display: inline-block;
  clear: left;
  margin: 10px 0;
}

.testimonials-person_description {
  margin-left: 190px;
  padding-top: 35px;
}

.testimonials-person_name {
  font-weight: 300;
  margin-bottom: 10px;
}

.testimonials-person_next {
  display: block;
  text-align: right;
  margin-top: 25px;

}

.testimonials-person_next > a {
  font-weight: 200;
  font-size: 16px;
  text-decoration: none;
  color: #000000;
  position: relative;
  padding-right: 40px;
}

.testimonials-person_next > a::after {
  position: absolute;
  content: "";
  background-image: url("../img/sprites.png");
  background-position: 0 -466.0000190734863px ;
  width: 26px;
  height: 3px;
  top: 45%;
  right: 0;
}

.testimonials-container > .btn_container {
  margin-top: 110px;
  padding-bottom: 75px;
  text-align: center;
}

.main-content-testimonials_btn {
  border: 1px solid #000000;
}

.totals_items {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}

.totals-item {
  width: 315px;
}

.totals-item_header {
  font-variant: small-caps;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 36px;
  line-height: 1.3;
  margin: 0;
  text-align: center;
  padding: 10px 105px;
  background-color: #ffd200;
  border-radius: 10px 10px 0 0;
  margin-bottom: 6px;
}

.totals-item_description p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.totals-item_description {

  font-size: 18px;
  line-height: 1.3;
  text-align: left;
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #f7f0e6;
  border-radius: 0 0 10px 10px;
  min-height: 200px;
}

.totals-item_description ul {
  margin-top: 10px;
  margin-bottom: 0;
  padding-left: 30px;
}

.totals-item_shipping {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  text-align: left;
  color: #e11a27;
}

.totals-item_description li {
  margin: 5px 0;
}

.main-content-totals_btn-container {
  margin-top: 75px;
  margin-bottom: 120px;
  text-align: center;
}

.main-content-totals_btn {
  background-color: #e11a27;
  color: #ffffff;
}

footer {
  background-color: #ffd200;
}

footer .container {
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
}

.about {
  display: flex;
}

.about-item {
  width: 150px;
  margin-right: 80px;
  border-top: 1px solid #000000;
}

.about-item ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 25px;
}

.about-item a {
  font-size: 18px;
  line-height: 1.3;
  color: #000000;
  text-decoration: none;
}

.about-item li {
  margin-top: 5px;
  margin-bottom: 5px;
}

.about-item_books a {
  letter-spacing: 1px;
  font-variant: small-caps;
}

.social {
  width: 150px;
  border-top: 1px solid #000000;
  text-align: left;
  display: flex;
}

.social_btn {
  display: block;
  width: 24px;
  height: 24px;
  background: url("../img/sprites.png") no-repeat;
  margin-right: 20px;
  margin-top: 30px;
}

.social_btn.facebook {
  background-position: 0 -424.0000190734863px ;
}

.social_btn.vkontakte {
  background-position: 0 -344.0000190734863px ;
}

.social_btn.instagram {
  background-position: -2.0000228881835938px -385.0000190734863px ;
}

.designetBy a {
  position: relative;
  display: block;
  margin-top: 50px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -234.0000228881836px 15px;
  width: 55px;
  height: 49px;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 15px;
  padding-top: 0;
  padding-bottom: 35px;
}

.designetBy a::after {
  font-weight: 400;
  display: block;
  position: absolute;
  content: "Designed by";
  font-size: 11px;
}

.rights {
  text-align: center;
  font-size: 14px;
  margin-top: 40px;
  padding-bottom: 60px;
}


.letter-spacing__80 {
  letter-spacing: 0.8px;
  font-variant: small-caps;
}

.ready-solutions-item_book-font {
  font-variant: small-caps;
  letter-spacing: 0.5px;
}